In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings 
import pickle 
warnings.filterwarnings('ignore')

In [11]:
df = pd.read_pickle('merged_df.pkl')

In [12]:
merged_df= df.copy()

In [13]:
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",100)
pd.set_option("display.max_colwidth",None)
pd.options.display.float_format = '{:,.3f}'.format

## No of Previous Applications

In [14]:
df['No_of_PreviousApplications'] = df['SK_ID_PREV_list'].str.len()

## Credit to Income

In [15]:
df['Credit_to_Income'] = df['AMT_CREDIT']/df['AMT_INCOME_TOTAL']*100

## Annuity to Income

In [16]:
df['Annuity_to_Income'] = df['AMT_ANNUITY']/df['AMT_INCOME_TOTAL']*100

## Goods Price to Income

In [17]:
merged_df['Goods_to_Income'] = merged_df['AMT_GOODS_PRICE']/merged_df['AMT_INCOME_TOTAL']*100

## No of Documents submitted

In [18]:
df['No_of_DocumentsSubmitted'] = df.iloc[:,96:116].sum(axis=1)

## Source Score Average

In [19]:
df['EXT_SCORES_AVG'] = (df[['EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3']].sum(axis=1))/3

## Source Score Sum

In [20]:
df['EXT_SCORES_SUM'] = df[['EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3']].sum(axis=1)

In [21]:
#function to calculate corelation
from scipy.stats import pearsonr
def relation(column):
  corr, _ = pearsonr(df["TARGET"], df[column])
  return print('Pearsons correlation: %.3f' % corr)

flag car, flag house

converted n=0 y=1 and added and added values.

gender,house,car

In [22]:
df["car_house_gender"]=df["FLAG_OWN_CAR"]+df["FLAG_OWN_REALTY"]+df["CODE_GENDER"]
df["car_house_gender"]=df["car_house_gender"].replace({'NYM':'011','NNF':'000','YYM':'111','NYF':'010','YYF':'110','YNM':'101','NNM':'001','YNF':'100','YYXNA':'112','NYXNA':'012'})
df["car_house_gender"]=df["car_house_gender"].astype(int)
relation("car_house_gender")

Pearsons correlation: -0.022

In [15]:
display(df)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_PREV_list,NAME_CONTRACT_TYPE_y_list,AMT_ANNUITY_y_list,AMT_APPLICATION_list,AMT_CREDIT_y_list,AMT_DOWN_PAYMENT_list,AMT_GOODS_PRICE_y_list,WEEKDAY_APPR_PROCESS_START_y_list,HOUR_APPR_PROCESS_START_y_list,FLAG_LAST_APPL_PER_CONTRACT_list,NFLAG_LAST_APPL_IN_DAY_list,RATE_DOWN_PAYMENT_list,RATE_INTEREST_PRIMARY_list,RATE_INTEREST_PRIVILEGED_list,NAME_CASH_LOAN_PURPOSE_list,NAME_CONTRACT_STATUS_list,DAYS_DECISION_list,NAME_PAYMENT_TYPE_list,CODE_REJECT_REASON_list,NAME_TYPE_SUITE_y_list,NAME_CLIENT_TYPE_list,NAME_GOODS_CATEGORY_list,NAME_PORTFOLIO_list,NAME_PRODUCT_TYPE_list,CHANNEL_TYPE_list,SELLERPLACE_AREA_list,NAME_SELLER_INDUSTRY_list,CNT_PAYMENT_list,NAME_YIELD_GROUP_list,PRODUCT_COMBINATION_list,DAYS_FIRST_DRAWING_list,DAYS_FIRST_DUE_list,DAYS_LAST_DUE_1ST_VERSION_list,DAYS_LAST_DUE_list,DAYS_TERMINATION_list,NFLAG_INSURED_ON_APPROVAL_list,No_of_PreviousApplications,Credit_to_Income,Annuity_to_Income,No_of_DocumentsSubmitted,EXT_SCORES_AVG,EXT_SCORES_SUM,car_house_gender
0,100002,1,Cash loans,M,N,Y,0,"202,500.000","406,597.500","24,700.500","351,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,"-3,648.000",-2120,nan,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,"-1,134.000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000,[1038818],[Consumer loans],[9251.775],[179055.0],[179055.0],[0.0],[179055.0],[SATURDAY],[9],[Y],[1],[0.0],[nan],[nan],[XAP],[Approved],[-606],[XNA],[XAP],[nan],[New],[Vehicles],[POS],[XNA],[Stone],[500],[Auto technology],[24.0],[low_normal],[POS other with interest],[365243.0],[-565.0],[125.0],[-25.0],[-17.0],[0.0],1.000,200.789,12.198,1.000,0.162,0.485,11
1,100003,0,Cash loans,F,N,N,0,"270,000.000","1,293,502.500","35,698.500","1,129,500.000",Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,"-1,186.000",-291,nan,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,nan,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[1810518, 2636178, 2396755]","[Cash loans, Consumer loans, Consumer loans]","[98356.995, 64567.665, 6737.31]","[900000.0, 337500.0, 68809.5]","[1035882.0, 348637.5, 68053.5]","[nan, 0.0, 6885.0]","[900000.0, 337500.0, 68809.5]","[FRIDAY, SUNDAY, SATURDAY]","[12, 17, 15]","[Y, Y, Y]","[1, 1, 1]","[nan, 0.0, 0.10006059514256237]","[nan, nan, nan]","[nan, nan, nan]","[XNA, XAP, XAP]","[Approved, Approved, Approved]","[-746, -828, -2341]","[XNA, Cash through the bank, Cash through the bank]","[XAP, XAP, XAP]","[Unaccompanied, Family, Family]","[Repeater, Refreshed, Refreshed]","[XNA, Furniture, Consumer Electronics]","[Cash, POS, POS]","[x-sell, XNA, XNA]","[Credit and cash offices, Stone, Country-wide]","[-1, 1400, 200]","[XNA, Furniture, Consumer electronics]","[12.0, 6.0, 12.0]","[low_normal, middle, middle]","[Cash X-Sell: low, POS industry with interest, POS household with interest]","[365243.0, 365243.0, 365243.0]","[-716.0, -797.0, -2310.0]","[-386.0, -647.0, -1980.0]","[-536.0, -647.0, -1980.0]","[-527.0, -639.0, -1976.0]","[1.0, 0.0, 1.0]",3.000,479.075,13.222,1.000,0.311,0.934,0
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.000","135,000.000","6,750.000","135,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,"-4,260.000",-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.556,0.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,[1564014],[Consumer loans],[5357.25],[24282.0],[20106.0],[4860.0],[24282.0],[FRIDAY],[5],[Y],[1],[0.21200760306744432],[nan],[nan],[XAP],[Approved],[-815],[Cash through the bank],[XAP],[Unaccompanied],[New],[Mobile],[POS],[XNA],[Regional / Local],[30],[Connectivity],[4.0],[middle],[POS mobile without interest],[365243.0],[-784.0],[-694.0],[-724.0],[-714.0],[0.0],1.000,200.000,10.000,0.000,0.428,1.285,111
3,100006,0,Cash loans,F,N,Y,0,"135,000.000","312,682.500","29,686.500","297,000.000",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,"-9,833.000",-2437,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,nan,NaN,nan,"[2078043, 2827850, 2190416, 1489396, 1020698, 1243599, 2299329, 2545789, 1697039]","[Cash loans, Revolving loans, Consumer loans, Revolving loans, Cash loans, Cash loans, Consumer loans, Cash loans, Cash loans]","[24246.0, nan, 29027.52, 13500.0, 39954.51, nan, 2482.92, nan, 32696.1]","[675000.0, 0.0, 334917.0, 270000.0, 454500.0, 0.0, 26912.34, 0.0, 688500.0]","[675000.0, 0.0, 267930.0, 270000.0, 481495.5, 0.0, 24219.0, 0.0, 906615.0]","[nan, nan, 66987.0, nan, nan, nan, 2693.34, nan, nan]","[675000.0, nan, 334917.0, 270000.0, 454500.0, nan, 26912.34, nan, 688500.0]","[THURSDAY, THURSDAY, SUNDAY, THURSDAY, SATURDAY, THURSDAY, TUESDAY, THURSDAY, THURSDAY]","[15, 15, 15, 15, 12, 15, 15, 15, 15]","[Y, Y, Y, Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[nan, nan, 0.2178298883821148, nan, nan, nan, 0.10899431669973364, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[XNA, XAP, XAP, XAP, XNA, XNA, XAP, XNA, XNA]","[Approved, Canceled, Approved, Approved, Approved, Canceled, Approved, Canceled, Refused]","[-181, -181, -311, -181, -438, -181, -617, -181, -181]","[Cash through the bank, XNA, Cash through the bank, XNA, Cash through the bank, XNA, XNA, XNA, Cash through the bank]","[XAP, XAP, XAP, XAP, XAP, XAP, XAP, XAP, LIMIT]","[Unaccompanied, nan, Family, Unaccompanied, nan, nan, nan, nan, Unaccompanied]","[Repeater, Repeater, Repeater, Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, Audio/Video, XNA, XNA, XNA, Construction Materials, XNA, XNA]","[Cash, XNA, POS, Cards, Cash, XNA, POS, XNA, Cash]","[x-sell, XNA, XNA, x-sell, x-sell, XNA, XNA, XNA, x-sell]","[Credit and cash offices, Credit and cash offices, Country-wide, Credit and cash offices, Credit and cash offices, Credit and cash offices, Stone, Credit and cash offices, Credit and cash offices]","[-1, -1, 8025, -1, -1, -1, 30, -1, -1]","[XNA, XNA, Consumer electronics, XNA, XNA, XNA, Construction, XNA, XNA]","[48.0, nan, 12.0, 0.0, 18.0, nan, 12.0, nan, 48.0]","[low_normal, XNA, high, XNA, high, XNA, middle, XNA, low_normal]","[Cash X-Sell: low, Card Street, POS household with interest, Card X-Sell, Cash X-Sell: high, Cash, POS industry with interest, Cash, Cash X-Sell: low]","[365243.0, nan, 365243.0, 365243.0, nan, nan, 365243.0, nan, nan]","[-151.0, nan, -281.0, 365243.0, nan, nan, -545.0, nan, nan]","[1259.0, nan, 49.0, 365243.0, nan, nan, -215.0, nan, nan]","[-151.0, nan, 365243.0, 365243.0, nan, nan, -425.0, nan, nan]","[-143.0, nan, 365243.0, 365243.0, nan, nan, -416.0, nan, nan]","[0.0, nan, 0.0, 0.0, nan, nan, 0.0, nan, nan]",9.000,231.617,21.990,1.000,0.217,0.650,10
4,100007,0,Cash loans,M,N,Y,0,"121,500.000","513,000.000","21,865.500","513,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,"-4,311.000",-3458,nan,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.323,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,"-1,106.000",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[2001242, 2730157, 1692033, 2119973, 2462742, 1940724]","[Cash loans, Cash loans, Cash loans, Consumer loans, Consumer loans, Cash loans]","[16509.6, 13010.985, 16037.64, 1834.29, 3601.53, 22678.785]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[180000.0, 284400.0, 274288.5, 14616.0, 30663.0, 215865.0]","[nan, nan, nan, 3676.5, 3105.0, nan]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[SUNDAY, FRIDAY, MONDAY, SATURDAY, SUNDAY, THURSDAY]","[14, 13, 11, 13, 15, 8]","[Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1]","[nan, nan, nan, 0.21888985798948887, 0.10014295406086453, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[XNA, XNA, XNA, XAP, XAP, XNA]","[Approved, Approved, Approved, Approved, Approved, Approved]","[-865, -867, -374, -2357, -1768, -1106]","[Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, XNA]","[XAP, XAP, XAP, XAP, XAP, XAP]","[Unaccompanied, Family, nan, Family, Unaccompanied, nan]","[Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, XNA, Audio/Video, Audio/Video, XNA]","[Cash, Cash, Cash, POS, POS, Cash]","[walk-in, x-sell, x-sell, XNA, XNA, x-sell]","[Regional / Local, AP+ (Cash loan), Credit and cash offices, Country-wide, Country-wide, Country-wide]","[1200, 4, -1, 1200, 53, -1]","[Consumer electronics, XNA, XNA, Consumer electronics, Connectivity, Consumer electronics]","[18.0, 48.0, 24.0, 10.0, 12.0, 12.0]","[high, middle, middle, high, high, middle]","[Cash Street: high, Cash X-Sell: middle, Cash X-Sell: middle, POS household with interest, POS mobile with interest, Cash X-Sell: middle]","[365243.0, nan, 365243.0, 365243.0, 365243.0, 365243.0]","[-834.0, nan, -344.0, -2326.0, -1736.0, -1076.0]","[-324.0, nan, 346.0, -2056.0, -1406.0, -746.0]","[-354.0, nan, 365243.0, -2056.0, -1406.0, -746.0]","[-347.0, nan, 365243.0, -2041.0, -1397.0, -739.0]","[0.0, nan, 1.0, 1.0, 0.0, 1.0]",6.000,422.222,17.996,1.000,0.108,0.323,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,"157,500.000","254,700.000","27,558.000","225,000.000",Unaccompanied,Working,Secondary / secondary special,Separated,With parents,0.033,-9327,-236,"-8,456.000",-1982,nan,1,1,0,1,0,0,Sales staff,1.000,1,1,THURSDAY,15,0,0,0,0,0,0,Services,0.146,0.682,nan,0.202,0.089,0.988,0.830,0.020,0.220,0.103,0.604,0.271,0.059,0.148,0.197,0.075,0.110,0.101,0.017,0.978,0.713,0.017,0.081,0.035,0.458,0.042,0.009,0.088,0.085,0.000,0.013,0.204,0.089,0.988,0.832,0.020,0.220,0.103,0.604,0.271,0.060,0.151,0.200,0.076,0.112,reg oper account,block of flats,0.290,"Stone, brick",No,0.000,0.000,0.000,0.000,-273.000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,nan,NaN,nan,[2248017],[Consumer loans],[6605.91],[40455.0],[40455.0],[0.0],[40455.0],[THURSDAY],[17],[Y],[1],[0.0],[nan],[nan],[XAP],[Approved],[-273],[Cash through the bank],[XAP],[nan],[New],[Mobile],[POS],[XNA],[Country-wide],[30],[Connectivity],[8.0],[high],[POS mobile with interest],[365243.0],[-210.0],[0.0],[-30.0],[-25.0],[0.0],1.000,161.714,17.497,1.000,0.276,0.827,1
307507,456252,0,Cash loans,F,N,Y,0,"72,000.000","269,550.000","12,001.500","225,000.000",Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,0.025,-20775,365243,"-4,388.000",-4090,nan,1,0,0,1,1,0,NaN,1.000,2,2,MONDAY,8,0,0,0,0,0,0,XNA,nan,0.116,nan,0.025,0.043,0.973,0.626,0.002,0.000,0.103,0.083,0.125,0.058,0.020,0.026,0.000,0.000,0.025,0.045,0.973,0.641,0.002,0.000,0.103,0.083,0.125,0.059,0.022,0.027,0.000,0.000,0.025,0.043,0.973,0.631,0.002,0.000,0.103,0.083,0.125,0.059,0.021,0.026,0.000,0.000,reg oper account,block of flats,0.021,"Stone, brick",No,0.000,0.000,0.000,0.000,0.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,nan,NaN,nan,[1503599],[Consumer loans],[10074.465],[57595.5],[56821.5],[3456.0],[57595.5],[WEDNESDAY],[10],[Y],[1],[0.062442838236791184],[nan],[nan],[XAP],[Approved],[-2497],[Cash through the bank],[XAP],[Family],[New],[Consumer Electronics],[POS],[XNA],[Country-wide],[190],[Consumer electronics],[6.0],[low_normal],[POS household without interest],[365243.0],[-2466.0],[-2316.0],[-2316.0],[-2311.0],[1.0],1.000,374.375,16.669,1.000,0.039,0.116,10
307508,456253,0,Cash loans,F,N,Y,0,"153,000.000","677,664.000","29,979.000","585,000.000",Unaccompanied,Working,Higher education,Separated,House / apartment,0.005,-14966,-7921,"-6,737.000",-5150,nan,1,1,0,1,0,1,Managers,1.000,3,3,THURSDAY,9,0,0,0,0,1,1,School,0.744,0.536,0.219,0.103,0.086,0.982,0.748,0.012,0.000,0.207,0.167,0.208,nan,0.084,0.928,0.000,0.000,0.105,0.089,0.982,0.758,0.012,0.000,0.207,0.167,0.208,nan,0.092,0.967,0.000,0.000,0.104,0.086,0.982,0.752,0.012,0.000,0.207,0.167,0.208,nan,0.086,0.945,0.000,0.000,reg oper account,block of flats,0.797,Panel,No,6.000,0.000,6.000,0.000,"-1,909.000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.000,0.000,0.000,1.000,0.000,1.000,"[1686207, 1668235]","[Consumer loans, Consumer loans]","[5567.715, 3973.095]","[28912.5, 19413.0]","[27306.0, 13945.5]","[2893.5, 5913.0]","[28912.5, 19413.0]","[SATURDAY, TUESDAY]","[12, 11]","[Y, Y]","[1, 1]","[0.10434889801005136, 0.32428403683332296]","[nan, nan]","[nan, nan]","[XAP, XAP]","[Approved, Approved]","[-1909, -2851]","[Cash through the bank, Cash through the bank]","[XAP, XAP]","[Unaccompanied, Spouse, partner]","[Refreshed, Repeater]","[Mobile, Mobile]","[POS, POS]","[XNA, XNA]","[Stone, Stone]","[22, 22]","[Connectivity, Connectivity]","[6.0, 4.0]","[high, high]","[POS mobile with interest, POS mobile with interest]","[365243.0, 365243.0]","[-1866.0, -2812.0]","[-1716.0, -2722.0]","[-1716.0, -2722.0]","[-1712.0, -2713.0]","[0.0, 1.0]",2.000,442.918,19.594,1.000,0.500,1.499,10
307509,456254,1,Cash loans,F,N,Y,0,"171,000.000","370,107.000","20,205.000","319,500.000",Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.005,-11961,-4786,"-2,562.000",-931,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,9,0,0,0,1,1,0,Business Entity Type 1,nan,0.514,0.661,0.012,nan,0.977,nan,nan,nan,0.069,0.042,nan,nan,nan,0.006,nan,nan,0.013,nan,0.977,nan,nan,nan,0.069,0.042,nan,nan,nan,0.006,nan,nan,0.013,nan,0.977,nan,nan,nan,0.069,0.042,nan,nan,nan,0.006,nan,nan,NaN,block of flats,0.009,"Stone, brick",No,0.000,0.000,0.000,0.000,-322.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[2016407, 1792910]","[Consumer loans, Consumer loans]","[19065.825, 2296.44]","[223789.5, 18846.0]","[247423.5, 21456.0]","[0.0, 0.0]","[223789.5, 18846.0]","[SATURDAY, WEDNESDAY]","[18, 12]","[Y, Y]","[1, 1]","[0.0, 0.0]","[nan, nan]","[nan, nan]","[XAP, XAP]","[Approved, Approved]","[-277, -322]","[Cash through the bank, Cash through the bank]","[XAP, XAP]","[Unaccompanied, nan]","[Repeater, New]","[Computers, Mobile]","[POS, POS]","[XNA, XNA]","[Country-wide, Country-wide]","[3093, 63]","[Consumer electronics, Connectivity]","[16.0, 14.0]","[low_normal, high]","[POS household with interest, POS mobile with interest]","[365243.0, 365243.0]","[-247.0, -291.0]","[203.0, 99.0]","[365243.0, 365243.0]","[365243.0, 365243.0]","[1.0, 0.0]",2.000,216.437,11.816,1.000,0.392,1.175,10

credit/income

In [16]:
df["income_vs_credit"]=round(df["AMT_CREDIT"]/df["AMT_INCOME_TOTAL"],1)
relation("income_vs_credit")

Pearsons correlation: -0.008

income/count of children

In [17]:
df["child_plus"]=df["CNT_CHILDREN"]+1
df["income_child"]=df["AMT_INCOME_TOTAL"]/df["child_plus"]

Total income/ number of family members

In [18]:
#this works when we remove all nan values in columns
df["income_fam"]=df["AMT_INCOME_TOTAL"]/df["CNT_FAM_MEMBERS"]
relation("income_fam")

ValueError: array must not contain infs or NaNs

credit/annuity

In [ ]:
#this works when we remove all nan values in columns
df["credit_annity"]=df["AMT_CREDIT"]/df["AMT_ANNUITY"]
round(df["credit_annity"].corr(df["TARGET"]),2)

In [30]:
df["credit_annity"].isna().sum()

12

# 1st derived variable
"EXT_SOURCE_1","EXT_SOURCE_2","EXT_SOURCE_3" summing these to get total_ext_source

-0.24

In [19]:
#this works when we remove all nan values in columns
df["total_ext_source"]=df["EXT_SOURCE_1"]+df["EXT_SOURCE_2"]+df["EXT_SOURCE_3"]
round(df["TARGET"].corr(df['total_ext_source']),2)

AttributeError: 'float' object has no attribute 'shape'

slightly negatively correlated

-0.16

In [ ]:
#this works when we remove all nan values in columns
df["credit_on_rating"]=df["total_ext_source"]/df["REGION_RATING_CLIENT"]
round(df["credit_on_rating"].corr(df["TARGET"]),2)

Being male and living in a rented house can show hight default

In [20]:
one_hot_house=pd.get_dummies(df["NAME_HOUSING_TYPE"])
display(one_hot_house.head())
one_hot_gender=pd.get_dummies(df["CODE_GENDER"])
display(one_hot_gender.head())

df["Rented_apartment_male"]=one_hot_house["Rented apartment"]+one_hot_gender["M"]

,Co-op apartment,House / apartment,Municipal apartment,Office apartment,Rented apartment,With parents
0,0,1,0,0,0,0
1,0,1,0,0,0,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,0,1,0,0,0,0

   F  M  XNA
0  0  1    0
1  1  0    0
2  0  1    0
3  1  0    0
4  0  1    0

Tried to combine all the address variables which are having value 1 and 0

1=different address

0= same address

In [21]:
df["address_flag"]=df["REG_CITY_NOT_LIVE_CITY"]+df["REG_CITY_NOT_WORK_CITY"]+df["REG_CITY_NOT_LIVE_CITY"]+df["LIVE_REGION_NOT_WORK_REGION"]+df["REG_REGION_NOT_WORK_REGION"]+df["REG_REGION_NOT_LIVE_REGION"]
print(df[["TARGET","address_flag"]].head())

print("correlation",round(df["address_flag"].corr(df["TARGET"]),2))

  TARGET address_flag
0      1            0
1      0            0
2      0            0
3      0            0
4      0            1

AttributeError: 'float' object has no attribute 'shape'

# income:credt

In [23]:
# 1 if income is less than credit and 0 if credit is more than income
conditions = [
    (df['AMT_INCOME_TOTAL'] < df['AMT_CREDIT']),
    (df['AMT_CREDIT'] > df['AMT_INCOME_TOTAL'])]

values = [0, 1]

In [25]:
df['income VS. credit'] = np.select(conditions, values)

In [26]:
df['income VS. credit'].value_counts()

0    307511
Name: income VS. credit, dtype: int64

remove duplicates and parths

**Derving Asset index**

In [27]:
np.quantile(df['AMT_INCOME_TOTAL'],[0.25,0.5,0.75])

array([112500., 147150., 202500.])

In [29]:
df['incomeClass'] = 'Quant1'
df.loc[(df['AMT_INCOME_TOTAL'] > 112500) \
              & (df['AMT_INCOME_TOTAL'] < 157500), \
              'incomeClass'] = 'Quant2'
df.loc[(df['AMT_INCOME_TOTAL'] > 157500) \
              & (df['AMT_INCOME_TOTAL'] < 207000), \
              'incomeClass'] = 'Quant3'
df.loc[df['AMT_INCOME_TOTAL'] > 207000, \
             'incomeClass'] = 'Quant4'

In [30]:
incomeTot = df.groupby(['incomeClass'])['TARGET']\
                     .agg(incomeTot='count').reset_index()
incomeTot

  incomeClass  incomeTot
0      Quant1     127771
1      Quant2      55921
2      Quant3      53000
3      Quant4      70819

In [31]:
incomeProp = df.groupby(['incomeClass', 'TARGET'])['TARGET']\
                      .agg(incomeCat='count').reset_index()
incomeProp

  incomeClass  TARGET  incomeCat
0      Quant1       0     116976
1      Quant1       1      10795
2      Quant2       0      51140
3      Quant2       1       4781
4      Quant3       0      48641
5      Quant3       1       4359
6      Quant4       0      65929
7      Quant4       1       4890

In [32]:
incomeComb = pd.merge(incomeProp, incomeTot, \
                       on = ['incomeClass'])
incomeComb['catProp'] = (incomeComb.incomeCat \
                          / incomeComb.incomeTot)*100
incomeComb

  incomeClass  TARGET  incomeCat  incomeTot  catProp
0      Quant1       0     116976     127771   91.551
1      Quant1       1      10795     127771    8.449
2      Quant2       0      51140      55921   91.450
3      Quant2       1       4781      55921    8.550
4      Quant3       0      48641      53000   91.775
5      Quant3       1       4359      53000    8.225
6      Quant4       0      65929      70819   93.095
7      Quant4       1       4890      70819    6.905

In [33]:
from sklearn import preprocessing

In [34]:
x = df[['AMT_INCOME_TOTAL']].values.astype(float)

In [35]:
minmaxScaler = preprocessing.MinMaxScaler()

In [36]:
df['incomeTran'] = minmaxScaler.fit_transform(x)

In [37]:
df['incomeTran'] = df['incomeTran'] + 0.00001

In [38]:
# Let us transform values for FLAG_OWN_REALTY
df['realtyTran'] = 1
# Giving a weight of 5 if the client owns realty
df.loc[df['FLAG_OWN_REALTY'] == 'Y', 'realtyTran'] = 5
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_PREV_list,NAME_CONTRACT_TYPE_y_list,AMT_ANNUITY_y_list,AMT_APPLICATION_list,AMT_CREDIT_y_list,AMT_DOWN_PAYMENT_list,AMT_GOODS_PRICE_y_list,WEEKDAY_APPR_PROCESS_START_y_list,HOUR_APPR_PROCESS_START_y_list,FLAG_LAST_APPL_PER_CONTRACT_list,NFLAG_LAST_APPL_IN_DAY_list,RATE_DOWN_PAYMENT_list,RATE_INTEREST_PRIMARY_list,RATE_INTEREST_PRIVILEGED_list,NAME_CASH_LOAN_PURPOSE_list,NAME_CONTRACT_STATUS_list,DAYS_DECISION_list,NAME_PAYMENT_TYPE_list,CODE_REJECT_REASON_list,NAME_TYPE_SUITE_y_list,NAME_CLIENT_TYPE_list,NAME_GOODS_CATEGORY_list,NAME_PORTFOLIO_list,NAME_PRODUCT_TYPE_list,CHANNEL_TYPE_list,SELLERPLACE_AREA_list,NAME_SELLER_INDUSTRY_list,CNT_PAYMENT_list,NAME_YIELD_GROUP_list,PRODUCT_COMBINATION_list,DAYS_FIRST_DRAWING_list,DAYS_FIRST_DUE_list,DAYS_LAST_DUE_1ST_VERSION_list,DAYS_LAST_DUE_list,DAYS_TERMINATION_list,NFLAG_INSURED_ON_APPROVAL_list,No_of_PreviousApplications,Credit_to_Income,Annuity_to_Income,No_of_DocumentsSubmitted,EXT_SCORES_AVG,EXT_SCORES_SUM,car_house_gender,income_vs_credit,child_plus,income_child,income_fam,total_ext_source,Rented_apartment_male,address_flag,income VS. credit,incomeClass,incomeTran,realtyTran
0,100002,1,Cash loans,M,N,Y,0,"202,500.000","406,597.500","24,700.500","351,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,"-3,648.000",-2120,nan,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,"-1,134.000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000,[1038818],[Consumer loans],[9251.775],[179055.0],[179055.0],[0.0],[179055.0],[SATURDAY],[9],[Y],[1],[0.0],[nan],[nan],[XAP],[Approved],[-606],[XNA],[XAP],[nan],[New],[Vehicles],[POS],[XNA],[Stone],[500],[Auto technology],[24.0],[low_normal],[POS other with interest],[365243.0],[-565.0],[125.0],[-25.0],[-17.0],[0.0],1.000,200.789,12.198,1.000,0.162,0.485,11,2.000,1,"202,500.000","202,500.000",0.485,1,0,0,Quant3,0.002,5
1,100003,0,Cash loans,F,N,N,0,"270,000.000","1,293,502.500","35,698.500","1,129,500.000",Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,"-1,186.000",-291,nan,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,nan,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[1810518, 2636178, 2396755]","[Cash loans, Consumer loans, Consumer loans]","[98356.995, 64567.665, 6737.31]","[900000.0, 337500.0, 68809.5]","[1035882.0, 348637.5, 68053.5]","[nan, 0.0, 6885.0]","[900000.0, 337500.0, 68809.5]","[FRIDAY, SUNDAY, SATURDAY]","[12, 17, 15]","[Y, Y, Y]","[1, 1, 1]","[nan, 0.0, 0.10006059514256237]","[nan, nan, nan]","[nan, nan, nan]","[XNA, XAP, XAP]","[Approved, Approved, Approved]","[-746, -828, -2341]","[XNA, Cash through the bank, Cash through the bank]","[XAP, XAP, XAP]","[Unaccompanied, Family, Family]","[Repeater, Refreshed, Refreshed]","[XNA, Furniture, Consumer Electronics]","[Cash, POS, POS]","[x-sell, XNA, XNA]","[Credit and cash offices, Stone, Country-wide]","[-1, 1400, 200]","[XNA, Furniture, Consumer electronics]","[12.0, 6.0, 12.0]","[low_normal, middle, middle]","[Cash X-Sell: low, POS industry with interest, POS household with interest]","[365243.0, 365243.0, 365243.0]","[-716.0, -797.0, -2310.0]","[-386.0, -647.0, -1980.0]","[-536.0, -647.0, -1980.0]","[-527.0, -639.0, -1976.0]","[1.0, 0.0, 1.0]",3.000,479.075,13.222,1.000,0.311,0.934,0,4.800,1,"270,000.000","135,000.000",nan,0,0,0,Quant4,0.002,1
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.000","135,000.000","6,750.000","135,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,"-4,260.000",-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.556,0.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,[1564014],[Consumer loans],[5357.25],[24282.0],[20106.0],[4860.0],[24282.0],[FRIDAY],[5],[Y],[1],[0.21200760306744432],[nan],[nan],[XAP],[Approved],[-815],[Cash through the bank],[XAP],[Unaccompanied],[New],[Mobile],[POS],[XNA],[Regional / Local],[30],[Connectivity],[4.0],[middle],[POS mobile without interest],[365243.0],[-784.0],[-694.0],[-724.0],[-714.0],[0.0],1.000,200.000,10.000,0.000,0.428,1.285,111,2.000,1,"67,500.000","67,500.000",nan,1,0,0,Quant1,0.000,5
3,100006,0,Cash loans,F,N,Y,0,"135,000.000","312,682.500","29,686.500","297,000.000",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,"-9,833.000",-2437,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,nan,NaN,nan,"[2078043, 2827850, 2190416, 1489396, 1020698, 1243599, 2299329, 2545789, 1697039]","[Cash loans, Revolving loans, Consumer loans, Revolving loans, Cash loans, Cash loans, Consumer loans, Cash loans, Cash loans]","[24246.0, nan, 29027.52, 13500.0, 39954.51, nan, 2482.92, nan, 32696.1]","[675000.0, 0.0, 334917.0, 270000.0, 454500.0, 0.0, 26912.34, 0.0, 688500.0]","[675000.0, 0.0, 267930.0, 270000.0, 481495.5, 0.0, 24219.0, 0.0, 906615.0]","[nan, nan, 66987.0, nan, nan, nan, 2693.34, nan, nan]","[675000.0, nan, 334917.0, 270000.0, 454500.0, nan, 26912.34, nan, 688500.0]","[THURSDAY, THURSDAY, SUNDAY, THURSDAY, SATURDAY, THURSDAY, TUESDAY, THURSDAY, THURSDAY]","[15, 15, 15, 15, 12, 15, 15, 15, 15]","[Y, Y, Y, Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[nan, nan, 0.2178298883821148, nan, nan, nan, 0.10899431669973364, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[XNA, XAP, XAP, XAP, XNA, XNA, XAP, XNA, XNA]","[Approved, Canceled, Approved, Approved, Approved, Canceled, Approved, Canceled, Refused]","[-181, -181, -311, -181, -438, -181, -617, -181, -181]","[Cash through the bank, XNA, Cash through the bank, XNA, Cash through the bank, XNA, XNA, XNA, Cash through the bank]","[XAP, XAP, XAP, XAP, XAP, XAP, XAP, XAP, LIMIT]","[Unaccompanied, nan, Family, Unaccompanied, nan, nan, nan, nan, Unaccompanied]","[Repeater, Repeater, Repeater, Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, Audio/Video, XNA, XNA, XNA, Construction Materials, XNA, XNA]","[Cash, XNA, POS, Cards, Cash, XNA, POS, XNA, Cash]","[x-sell, XNA, XNA, x-sell, x-sell, XNA, XNA, XNA, x-sell]","[Credit and cash offices, Credit and cash offices, Country-wide, Credit and cash offices, Credit and cash offices, Credit and cash offices, Stone, Credit and cash offices, Credit and cash offices]","[-1, -1, 8025, -1, -1, -1, 30, -1, -1]","[XNA, XNA, Consumer electronics, XNA, XNA, XNA, Construction, XNA, XNA]","[48.0, nan, 12.0, 0.0, 18.0, nan, 12.0, nan, 48.0]","[low_normal, XNA, high, XNA, high, XNA, middle, XNA, low_normal]","[Cash X-Sell: low, Card Street, POS household with interest, Card X-Sell, Cash X-Sell: high, Cash, POS industry with interest, Cash, Cash X-Sell: low]","[365243.0, nan, 365243.0, 365243.0, nan, nan, 365243.0, nan, nan]","[-151.0, nan, -281.0, 365243.0, nan, nan, -545.0, nan, nan]","[1259.0, nan, 49.0, 365243.0, nan, nan, -215.0, nan, nan]","[-151.0, nan, 365243.0, 365243.0, nan, nan, -425.0, nan, nan]","[-143.0, nan, 365243.0, 365243.0, nan, nan, -416.0, nan, nan]","[0.0, nan, 0.0, 0.0, nan, nan, 0.0, nan, nan]",9.000,231.617,21.990,1.000,0.217,0.650,10,2.300,1,"135,000.000","67,500.000",nan,0,0,0,Quant2,0.001,5
4,100007,0,Cash loans,M,N,Y,0,"121,500.000","513,000.000","21,865.500","513,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,"-4,311.000",-3458,nan,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.323,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,"-1,106.000",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[2001242, 2730157, 1692033, 2119973, 2462742, 1940724]","[Cash loans, Cash loans, Cash loans, Consumer loans, Consumer loans, Cash loans]","[16509.6, 13010.985, 16037.64, 1834.29, 3601.53, 22678.785]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[180000.0, 284400.0, 274288.5, 14616.0, 30663.0, 215865.0]","[nan, nan, nan, 3676.5, 3105.0, nan]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[SUNDAY, FRIDAY, MONDAY, SATURDAY, SUNDAY, THURSDAY]","[14, 13, 11, 13, 15, 8]","[Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1]","[nan, nan, nan, 0.21888985798948887, 0.10014295406086453, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[XNA, XNA, XNA, XAP, XAP, XNA]","[Approved, Approved, Approved, Approved, Approved, Approved]","[-865, -867, -374, -2357, -1768, -1106]","[Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, XNA]","[XAP, XAP, XAP, XAP, XAP, XAP]","[Unaccompanied, Family, nan, Family, Unaccompanied, nan]","[Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, XNA, Audio/Video, Audio/Video, XNA]","[Cash, Cash, Cash, POS, POS, Cash]","[walk-in, x-sell, x-sell, XNA, XNA, x-sell]","[Regional / Local, AP+ (Cash loan), Credit and cash offices, Country-wide, Country-wide, Country-wide]","[1200, 4, -1, 1200, 53, -1]","[Consumer electronics, XNA, XNA, Consumer electronics, Connectivity, Consumer electronics]","[18.0, 48.0, 24.0, 10.0, 12.0, 12.0]","[high, middle, middle, high, high, middle]","[Cash Street: high, Cash X-Sell: middle, Cash X-Sell: middle, POS household with interest, POS mobile with interest, Cash X-Sell: middle]","[365243.0, nan, 365243.0, 365243.0, 365243.0, 365243.0]","[-834.0, nan, -344.0, -2326.0, -1736.0, -1076.0]","[-324.0, nan, 346.0, -2056.0, -1406.0, -746.0]","[-354.0, nan, 365243.0, -2056.0, -1406.0, -746.0]","[-347.0, nan, 365243.0, -2041.0, -1397.0, -739.0]","[0.0, nan, 1.0, 1.0, 0.0, 1.0]",6.000,422.222,17.996,1.000,0.108,0.323,11,4.200,1,"121,500.000","121,500.000",nan,1,1,0,Quant2,0.001,5

In [39]:
# Let us transform values for FLAG_OWN_CAR
df['carTran'] = 1
# Giving a weight of 5 if the person owns a car
df.loc[df['FLAG_OWN_CAR'] == 'Y', 'carTran'] = 5
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_PREV_list,NAME_CONTRACT_TYPE_y_list,AMT_ANNUITY_y_list,AMT_APPLICATION_list,AMT_CREDIT_y_list,AMT_DOWN_PAYMENT_list,AMT_GOODS_PRICE_y_list,WEEKDAY_APPR_PROCESS_START_y_list,HOUR_APPR_PROCESS_START_y_list,FLAG_LAST_APPL_PER_CONTRACT_list,NFLAG_LAST_APPL_IN_DAY_list,RATE_DOWN_PAYMENT_list,RATE_INTEREST_PRIMARY_list,RATE_INTEREST_PRIVILEGED_list,NAME_CASH_LOAN_PURPOSE_list,NAME_CONTRACT_STATUS_list,DAYS_DECISION_list,NAME_PAYMENT_TYPE_list,CODE_REJECT_REASON_list,NAME_TYPE_SUITE_y_list,NAME_CLIENT_TYPE_list,NAME_GOODS_CATEGORY_list,NAME_PORTFOLIO_list,NAME_PRODUCT_TYPE_list,CHANNEL_TYPE_list,SELLERPLACE_AREA_list,NAME_SELLER_INDUSTRY_list,CNT_PAYMENT_list,NAME_YIELD_GROUP_list,PRODUCT_COMBINATION_list,DAYS_FIRST_DRAWING_list,DAYS_FIRST_DUE_list,DAYS_LAST_DUE_1ST_VERSION_list,DAYS_LAST_DUE_list,DAYS_TERMINATION_list,NFLAG_INSURED_ON_APPROVAL_list,No_of_PreviousApplications,Credit_to_Income,Annuity_to_Income,No_of_DocumentsSubmitted,EXT_SCORES_AVG,EXT_SCORES_SUM,car_house_gender,income_vs_credit,child_plus,income_child,income_fam,total_ext_source,Rented_apartment_male,address_flag,income VS. credit,incomeClass,incomeTran,realtyTran,carTran
0,100002,1,Cash loans,M,N,Y,0,"202,500.000","406,597.500","24,700.500","351,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,"-3,648.000",-2120,nan,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,"-1,134.000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000,[1038818],[Consumer loans],[9251.775],[179055.0],[179055.0],[0.0],[179055.0],[SATURDAY],[9],[Y],[1],[0.0],[nan],[nan],[XAP],[Approved],[-606],[XNA],[XAP],[nan],[New],[Vehicles],[POS],[XNA],[Stone],[500],[Auto technology],[24.0],[low_normal],[POS other with interest],[365243.0],[-565.0],[125.0],[-25.0],[-17.0],[0.0],1.000,200.789,12.198,1.000,0.162,0.485,11,2.000,1,"202,500.000","202,500.000",0.485,1,0,0,Quant3,0.002,5,1
1,100003,0,Cash loans,F,N,N,0,"270,000.000","1,293,502.500","35,698.500","1,129,500.000",Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,"-1,186.000",-291,nan,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,nan,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[1810518, 2636178, 2396755]","[Cash loans, Consumer loans, Consumer loans]","[98356.995, 64567.665, 6737.31]","[900000.0, 337500.0, 68809.5]","[1035882.0, 348637.5, 68053.5]","[nan, 0.0, 6885.0]","[900000.0, 337500.0, 68809.5]","[FRIDAY, SUNDAY, SATURDAY]","[12, 17, 15]","[Y, Y, Y]","[1, 1, 1]","[nan, 0.0, 0.10006059514256237]","[nan, nan, nan]","[nan, nan, nan]","[XNA, XAP, XAP]","[Approved, Approved, Approved]","[-746, -828, -2341]","[XNA, Cash through the bank, Cash through the bank]","[XAP, XAP, XAP]","[Unaccompanied, Family, Family]","[Repeater, Refreshed, Refreshed]","[XNA, Furniture, Consumer Electronics]","[Cash, POS, POS]","[x-sell, XNA, XNA]","[Credit and cash offices, Stone, Country-wide]","[-1, 1400, 200]","[XNA, Furniture, Consumer electronics]","[12.0, 6.0, 12.0]","[low_normal, middle, middle]","[Cash X-Sell: low, POS industry with interest, POS household with interest]","[365243.0, 365243.0, 365243.0]","[-716.0, -797.0, -2310.0]","[-386.0, -647.0, -1980.0]","[-536.0, -647.0, -1980.0]","[-527.0, -639.0, -1976.0]","[1.0, 0.0, 1.0]",3.000,479.075,13.222,1.000,0.311,0.934,0,4.800,1,"270,000.000","135,000.000",nan,0,0,0,Quant4,0.002,1,1
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.000","135,000.000","6,750.000","135,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,"-4,260.000",-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.556,0.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,[1564014],[Consumer loans],[5357.25],[24282.0],[20106.0],[4860.0],[24282.0],[FRIDAY],[5],[Y],[1],[0.21200760306744432],[nan],[nan],[XAP],[Approved],[-815],[Cash through the bank],[XAP],[Unaccompanied],[New],[Mobile],[POS],[XNA],[Regional / Local],[30],[Connectivity],[4.0],[middle],[POS mobile without interest],[365243.0],[-784.0],[-694.0],[-724.0],[-714.0],[0.0],1.000,200.000,10.000,0.000,0.428,1.285,111,2.000,1,"67,500.000","67,500.000",nan,1,0,0,Quant1,0.000,5,5
3,100006,0,Cash loans,F,N,Y,0,"135,000.000","312,682.500","29,686.500","297,000.000",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,"-9,833.000",-2437,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,nan,NaN,nan,"[2078043, 2827850, 2190416, 1489396, 1020698, 1243599, 2299329, 2545789, 1697039]","[Cash loans, Revolving loans, Consumer loans, Revolving loans, Cash loans, Cash loans, Consumer loans, Cash loans, Cash loans]","[24246.0, nan, 29027.52, 13500.0, 39954.51, nan, 2482.92, nan, 32696.1]","[675000.0, 0.0, 334917.0, 270000.0, 454500.0, 0.0, 26912.34, 0.0, 688500.0]","[675000.0, 0.0, 267930.0, 270000.0, 481495.5, 0.0, 24219.0, 0.0, 906615.0]","[nan, nan, 66987.0, nan, nan, nan, 2693.34, nan, nan]","[675000.0, nan, 334917.0, 270000.0, 454500.0, nan, 26912.34, nan, 688500.0]","[THURSDAY, THURSDAY, SUNDAY, THURSDAY, SATURDAY, THURSDAY, TUESDAY, THURSDAY, THURSDAY]","[15, 15, 15, 15, 12, 15, 15, 15, 15]","[Y, Y, Y, Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[nan, nan, 0.2178298883821148, nan, nan, nan, 0.10899431669973364, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[XNA, XAP, XAP, XAP, XNA, XNA, XAP, XNA, XNA]","[Approved, Canceled, Approved, Approved, Approved, Canceled, Approved, Canceled, Refused]","[-181, -181, -311, -181, -438, -181, -617, -181, -181]","[Cash through the bank, XNA, Cash through the bank, XNA, Cash through the bank, XNA, XNA, XNA, Cash through the bank]","[XAP, XAP, XAP, XAP, XAP, XAP, XAP, XAP, LIMIT]","[Unaccompanied, nan, Family, Unaccompanied, nan, nan, nan, nan, Unaccompanied]","[Repeater, Repeater, Repeater, Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, Audio/Video, XNA, XNA, XNA, Construction Materials, XNA, XNA]","[Cash, XNA, POS, Cards, Cash, XNA, POS, XNA, Cash]","[x-sell, XNA, XNA, x-sell, x-sell, XNA, XNA, XNA, x-sell]","[Credit and cash offices, Credit and cash offices, Country-wide, Credit and cash offices, Credit and cash offices, Credit and cash offices, Stone, Credit and cash offices, Credit and cash offices]","[-1, -1, 8025, -1, -1, -1, 30, -1, -1]","[XNA, XNA, Consumer electronics, XNA, XNA, XNA, Construction, XNA, XNA]","[48.0, nan, 12.0, 0.0, 18.0, nan, 12.0, nan, 48.0]","[low_normal, XNA, high, XNA, high, XNA, middle, XNA, low_normal]","[Cash X-Sell: low, Card Street, POS household with interest, Card X-Sell, Cash X-Sell: high, Cash, POS industry with interest, Cash, Cash X-Sell: low]","[365243.0, nan, 365243.0, 365243.0, nan, nan, 365243.0, nan, nan]","[-151.0, nan, -281.0, 365243.0, nan, nan, -545.0, nan, nan]","[1259.0, nan, 49.0, 365243.0, nan, nan, -215.0, nan, nan]","[-151.0, nan, 365243.0, 365243.0, nan, nan, -425.0, nan, nan]","[-143.0, nan, 365243.0, 365243.0, nan, nan, -416.0, nan, nan]","[0.0, nan, 0.0, 0.0, nan, nan, 0.0, nan, nan]",9.000,231.617,21.990,1.000,0.217,0.650,10,2.300,1,"135,000.000","67,500.000",nan,0,0,0,Quant2,0.001,5,1
4,100007,0,Cash loans,M,N,Y,0,"121,500.000","513,000.000","21,865.500","513,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,"-4,311.000",-3458,nan,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.323,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,"-1,106.000",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[2001242, 2730157, 1692033, 2119973, 2462742, 1940724]","[Cash loans, Cash loans, Cash loans, Consumer loans, Consumer loans, Cash loans]","[16509.6, 13010.985, 16037.64, 1834.29, 3601.53, 22678.785]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[180000.0, 284400.0, 274288.5, 14616.0, 30663.0, 215865.0]","[nan, nan, nan, 3676.5, 3105.0, nan]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[SUNDAY, FRIDAY, MONDAY, SATURDAY, SUNDAY, THURSDAY]","[14, 13, 11, 13, 15, 8]","[Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1]","[nan, nan, nan, 0.21888985798948887, 0.10014295406086453, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[XNA, XNA, XNA, XAP, XAP, XNA]","[Approved, Approved, Approved, Approved, Approved, Approved]","[-865, -867, -374, -2357, -1768, -1106]","[Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, XNA]","[XAP, XAP, XAP, XAP, XAP, XAP]","[Unaccompanied, Family, nan, Family, Unaccompanied, nan]","[Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, XNA, Audio/Video, Audio/Video, XNA]","[Cash, Cash, Cash, POS, POS, Cash]","[walk-in, x-sell, x-sell, XNA, XNA, x-sell]","[Regional / Local, AP+ (Cash loan), Credit and cash offices, Country-wide, Country-wide, Country-wide]","[1200, 4, -1, 1200, 53, -1]","[Consumer electronics, XNA, XNA, Consumer electronics, Connectivity, Consumer electronics]","[18.0, 48.0, 24.0, 10.0, 12.0, 12.0]","[high, middle, middle, high, high, middle]","[Cash Street: high, Cash X-Sell: middle, Cash X-Sell: middle, POS household with interest, POS mobile with interest, Cash X-Sell: middle]","[365243.0, nan, 365243.0, 365243.0, 365243.0, 365243.0]","[-834.0, nan, -344.0, -2326.0, -1736.0, -1076.0]","[-324.0, nan, 346.0, -2056.0, -1406.0, -746.0]","[-354.0, nan, 365243.0, -2056.0, -1406.0, -746.0]","[-347.0, nan, 365243.0, -2041.0, -1397.0, -739.0]","[0.0, nan, 1.0, 1.0, 0.0, 1.0]",6.000,422.222,17.996,1.000,0.108,0.323,11,4.200,1,"121,500.000","121,500.000",nan,1,1,0,Quant2,0.001,5,1

In [40]:
df['assetIndex'] = df['incomeTran'] \
                         * df['realtyTran'] \
                         * df['carTran']
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_PREV_list,NAME_CONTRACT_TYPE_y_list,AMT_ANNUITY_y_list,AMT_APPLICATION_list,AMT_CREDIT_y_list,AMT_DOWN_PAYMENT_list,AMT_GOODS_PRICE_y_list,WEEKDAY_APPR_PROCESS_START_y_list,HOUR_APPR_PROCESS_START_y_list,FLAG_LAST_APPL_PER_CONTRACT_list,NFLAG_LAST_APPL_IN_DAY_list,RATE_DOWN_PAYMENT_list,RATE_INTEREST_PRIMARY_list,RATE_INTEREST_PRIVILEGED_list,NAME_CASH_LOAN_PURPOSE_list,NAME_CONTRACT_STATUS_list,DAYS_DECISION_list,NAME_PAYMENT_TYPE_list,CODE_REJECT_REASON_list,NAME_TYPE_SUITE_y_list,NAME_CLIENT_TYPE_list,NAME_GOODS_CATEGORY_list,NAME_PORTFOLIO_list,NAME_PRODUCT_TYPE_list,CHANNEL_TYPE_list,SELLERPLACE_AREA_list,NAME_SELLER_INDUSTRY_list,CNT_PAYMENT_list,NAME_YIELD_GROUP_list,PRODUCT_COMBINATION_list,DAYS_FIRST_DRAWING_list,DAYS_FIRST_DUE_list,DAYS_LAST_DUE_1ST_VERSION_list,DAYS_LAST_DUE_list,DAYS_TERMINATION_list,NFLAG_INSURED_ON_APPROVAL_list,No_of_PreviousApplications,Credit_to_Income,Annuity_to_Income,No_of_DocumentsSubmitted,EXT_SCORES_AVG,EXT_SCORES_SUM,car_house_gender,income_vs_credit,child_plus,income_child,income_fam,total_ext_source,Rented_apartment_male,address_flag,income VS. credit,incomeClass,incomeTran,realtyTran,carTran,assetIndex
0,100002,1,Cash loans,M,N,Y,0,"202,500.000","406,597.500","24,700.500","351,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,"-3,648.000",-2120,nan,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,"-1,134.000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000,[1038818],[Consumer loans],[9251.775],[179055.0],[179055.0],[0.0],[179055.0],[SATURDAY],[9],[Y],[1],[0.0],[nan],[nan],[XAP],[Approved],[-606],[XNA],[XAP],[nan],[New],[Vehicles],[POS],[XNA],[Stone],[500],[Auto technology],[24.0],[low_normal],[POS other with interest],[365243.0],[-565.0],[125.0],[-25.0],[-17.0],[0.0],1.000,200.789,12.198,1.000,0.162,0.485,11,2.000,1,"202,500.000","202,500.000",0.485,1,0,0,Quant3,0.002,5,1,0.008
1,100003,0,Cash loans,F,N,N,0,"270,000.000","1,293,502.500","35,698.500","1,129,500.000",Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,"-1,186.000",-291,nan,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,nan,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[1810518, 2636178, 2396755]","[Cash loans, Consumer loans, Consumer loans]","[98356.995, 64567.665, 6737.31]","[900000.0, 337500.0, 68809.5]","[1035882.0, 348637.5, 68053.5]","[nan, 0.0, 6885.0]","[900000.0, 337500.0, 68809.5]","[FRIDAY, SUNDAY, SATURDAY]","[12, 17, 15]","[Y, Y, Y]","[1, 1, 1]","[nan, 0.0, 0.10006059514256237]","[nan, nan, nan]","[nan, nan, nan]","[XNA, XAP, XAP]","[Approved, Approved, Approved]","[-746, -828, -2341]","[XNA, Cash through the bank, Cash through the bank]","[XAP, XAP, XAP]","[Unaccompanied, Family, Family]","[Repeater, Refreshed, Refreshed]","[XNA, Furniture, Consumer Electronics]","[Cash, POS, POS]","[x-sell, XNA, XNA]","[Credit and cash offices, Stone, Country-wide]","[-1, 1400, 200]","[XNA, Furniture, Consumer electronics]","[12.0, 6.0, 12.0]","[low_normal, middle, middle]","[Cash X-Sell: low, POS industry with interest, POS household with interest]","[365243.0, 365243.0, 365243.0]","[-716.0, -797.0, -2310.0]","[-386.0, -647.0, -1980.0]","[-536.0, -647.0, -1980.0]","[-527.0, -639.0, -1976.0]","[1.0, 0.0, 1.0]",3.000,479.075,13.222,1.000,0.311,0.934,0,4.800,1,"270,000.000","135,000.000",nan,0,0,0,Quant4,0.002,1,1,0.002
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.000","135,000.000","6,750.000","135,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,"-4,260.000",-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.556,0.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,[1564014],[Consumer loans],[5357.25],[24282.0],[20106.0],[4860.0],[24282.0],[FRIDAY],[5],[Y],[1],[0.21200760306744432],[nan],[nan],[XAP],[Approved],[-815],[Cash through the bank],[XAP],[Unaccompanied],[New],[Mobile],[POS],[XNA],[Regional / Local],[30],[Connectivity],[4.0],[middle],[POS mobile without interest],[365243.0],[-784.0],[-694.0],[-724.0],[-714.0],[0.0],1.000,200.000,10.000,0.000,0.428,1.285,111,2.000,1,"67,500.000","67,500.000",nan,1,0,0,Quant1,0.000,5,5,0.009
3,100006,0,Cash loans,F,N,Y,0,"135,000.000","312,682.500","29,686.500","297,000.000",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,"-9,833.000",-2437,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,nan,NaN,nan,"[2078043, 2827850, 2190416, 1489396, 1020698, 1243599, 2299329, 2545789, 1697039]","[Cash loans, Revolving loans, Consumer loans, Revolving loans, Cash loans, Cash loans, Consumer loans, Cash loans, Cash loans]","[24246.0, nan, 29027.52, 13500.0, 39954.51, nan, 2482.92, nan, 32696.1]","[675000.0, 0.0, 334917.0, 270000.0, 454500.0, 0.0, 26912.34, 0.0, 688500.0]","[675000.0, 0.0, 267930.0, 270000.0, 481495.5, 0.0, 24219.0, 0.0, 906615.0]","[nan, nan, 66987.0, nan, nan, nan, 2693.34, nan, nan]","[675000.0, nan, 334917.0, 270000.0, 454500.0, nan, 26912.34, nan, 688500.0]","[THURSDAY, THURSDAY, SUNDAY, THURSDAY, SATURDAY, THURSDAY, TUESDAY, THURSDAY, THURSDAY]","[15, 15, 15, 15, 12, 15, 15, 15, 15]","[Y, Y, Y, Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[nan, nan, 0.2178298883821148, nan, nan, nan, 0.10899431669973364, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[XNA, XAP, XAP, XAP, XNA, XNA, XAP, XNA, XNA]","[Approved, Canceled, Approved, Approved, Approved, Canceled, Approved, Canceled, Refused]","[-181, -181, -311, -181, -438, -181, -617, -181, -181]","[Cash through the bank, XNA, Cash through the bank, XNA, Cash through the bank, XNA, XNA, XNA, Cash through the bank]","[XAP, XAP, XAP, XAP, XAP, XAP, XAP, XAP, LIMIT]","[Unaccompanied, nan, Family, Unaccompanied, nan, nan, nan, nan, Unaccompanied]","[Repeater, Repeater, Repeater, Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, Audio/Video, XNA, XNA, XNA, Construction Materials, XNA, XNA]","[Cash, XNA, POS, Cards, Cash, XNA, POS, XNA, Cash]","[x-sell, XNA, XNA, x-sell, x-sell, XNA, XNA, XNA, x-sell]","[Credit and cash offices, Credit and cash offices, Country-wide, Credit and cash offices, Credit and cash offices, Credit and cash offices, Stone, Credit and cash offices, Credit and cash offices]","[-1, -1, 8025, -1, -1, -1, 30, -1, -1]","[XNA, XNA, Consumer electronics, XNA, XNA, XNA, Construction, XNA, XNA]","[48.0, nan, 12.0, 0.0, 18.0, nan, 12.0, nan, 48.0]","[low_normal, XNA, high, XNA, high, XNA, middle, XNA, low_normal]","[Cash X-Sell: low, Card Street, POS household with interest, Card X-Sell, Cash X-Sell: high, Cash, POS industry with interest, Cash, Cash X-Sell: low]","[365243.0, nan, 365243.0, 365243.0, nan, nan, 365243.0, nan, nan]","[-151.0, nan, -281.0, 365243.0, nan, nan, -545.0, nan, nan]","[1259.0, nan, 49.0, 365243.0, nan, nan, -215.0, nan, nan]","[-151.0, nan, 365243.0, 365243.0, nan, nan, -425.0, nan, nan]","[-143.0, nan, 365243.0, 365243.0, nan, nan, -416.0, nan, nan]","[0.0, nan, 0.0, 0.0, nan, nan, 0.0, nan, nan]",9.000,231.617,21.990,1.000,0.217,0.650,10,2.300,1,"135,000.000","67,500.000",nan,0,0,0,Quant2,0.001,5,1,0.005
4,100007,0,Cash loans,M,N,Y,0,"121,500.000","513,000.000","21,865.500","513,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,"-4,311.000",-3458,nan,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.323,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,"-1,106.000",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[2001242, 2730157, 1692033, 2119973, 2462742, 1940724]","[Cash loans, Cash loans, Cash loans, Consumer loans, Consumer loans, Cash loans]","[16509.6, 13010.985, 16037.64, 1834.29, 3601.53, 22678.785]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[180000.0, 284400.0, 274288.5, 14616.0, 30663.0, 215865.0]","[nan, nan, nan, 3676.5, 3105.0, nan]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[SUNDAY, FRIDAY, MONDAY, SATURDAY, SUNDAY, THURSDAY]","[14, 13, 11, 13, 15, 8]","[Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1]","[nan, nan, nan, 0.21888985798948887, 0.10014295406086453, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[XNA, XNA, XNA, XAP, XAP, XNA]","[Approved, Approved, Approved, Approved, Approved, Approved]","[-865, -867, -374, -2357, -1768, -1106]","[Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, XNA]","[XAP, XAP, XAP, XAP, XAP, XAP]","[Unaccompanied, Family, nan, Family, Unaccompanied, nan]","[Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, XNA, Audio/Video, Audio/Video, XNA]","[Cash, Cash, Cash, POS, POS, Cash]","[walk-in, x-sell, x-sell, XNA, XNA, x-sell]","[Regional / Local, AP+ (Cash loan), Credit and cash offices, Country-wide, Country-wide, Country-wide]","[1200, 4, -1, 1200, 53, -1]","[Consumer electronics, XNA, XNA, Consumer electronics, Connectivity, Consumer electronics]","[18.0, 48.0, 24.0, 10.0, 12.0, 12.0]","[high, middle, middle, high, high, middle]","[Cash Street: high, Cash X-Sell: middle, Cash X-Sell: middle, POS household with interest, POS mobile with interest, Cash X-Sell: middle]","[365243.0, nan, 365243.0, 365243.0, 365243.0, 365243.0]","[-834.0, nan, -344.0, -2326.0, -1736.0, -1076.0]","[-324.0, nan, 346.0, -2056.0, -1406.0, -746.0]","[-354.0, nan, 365243.0, -2056.0, -1406.0, -746.0]","[-347.0, nan, 365243.0, -2041.0, -1397.0, -739.0]","[0.0, nan, 1.0, 1.0, 0.0, 1.0]",6.000,422.222,17.996,1.000,0.108,0.323,11,4.200,1,"121,500.000","121,500.000",nan,1,1,0,Quant2,0.001,5,1,0.004

In [41]:
np.quantile(df['assetIndex'],[0.25,0.5,0.75])

array([0.0024159 , 0.00530115, 0.0124181 ])

In [42]:
df['assetClass'] = 'Quant1'
df.loc[(df['assetIndex'] > 0.0028006) \
              & (df['assetIndex'] < 0.00568585), \
              'assetClass'] = 'Quant2'
df.loc[(df['assetIndex'] > 0.00568585) \
              & (df['assetIndex'] < 0.01400302), \
              'assetClass'] = 'Quant3'
df.loc[df['assetIndex'] > 0.01400302, \
             'assetClass'] = 'Quant4'
df.assetClass[df['assetIndex'] > 0.01400302] = 'Quant4'
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_PREV_list,NAME_CONTRACT_TYPE_y_list,AMT_ANNUITY_y_list,AMT_APPLICATION_list,AMT_CREDIT_y_list,AMT_DOWN_PAYMENT_list,AMT_GOODS_PRICE_y_list,WEEKDAY_APPR_PROCESS_START_y_list,HOUR_APPR_PROCESS_START_y_list,FLAG_LAST_APPL_PER_CONTRACT_list,NFLAG_LAST_APPL_IN_DAY_list,RATE_DOWN_PAYMENT_list,RATE_INTEREST_PRIMARY_list,RATE_INTEREST_PRIVILEGED_list,NAME_CASH_LOAN_PURPOSE_list,NAME_CONTRACT_STATUS_list,DAYS_DECISION_list,NAME_PAYMENT_TYPE_list,CODE_REJECT_REASON_list,NAME_TYPE_SUITE_y_list,NAME_CLIENT_TYPE_list,NAME_GOODS_CATEGORY_list,NAME_PORTFOLIO_list,NAME_PRODUCT_TYPE_list,CHANNEL_TYPE_list,SELLERPLACE_AREA_list,NAME_SELLER_INDUSTRY_list,CNT_PAYMENT_list,NAME_YIELD_GROUP_list,PRODUCT_COMBINATION_list,DAYS_FIRST_DRAWING_list,DAYS_FIRST_DUE_list,DAYS_LAST_DUE_1ST_VERSION_list,DAYS_LAST_DUE_list,DAYS_TERMINATION_list,NFLAG_INSURED_ON_APPROVAL_list,No_of_PreviousApplications,Credit_to_Income,Annuity_to_Income,No_of_DocumentsSubmitted,EXT_SCORES_AVG,EXT_SCORES_SUM,car_house_gender,income_vs_credit,child_plus,income_child,income_fam,total_ext_source,Rented_apartment_male,address_flag,income VS. credit,incomeClass,incomeTran,realtyTran,carTran,assetIndex,assetClass
0,100002,1,Cash loans,M,N,Y,0,"202,500.000","406,597.500","24,700.500","351,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,"-3,648.000",-2120,nan,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,"-1,134.000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000,[1038818],[Consumer loans],[9251.775],[179055.0],[179055.0],[0.0],[179055.0],[SATURDAY],[9],[Y],[1],[0.0],[nan],[nan],[XAP],[Approved],[-606],[XNA],[XAP],[nan],[New],[Vehicles],[POS],[XNA],[Stone],[500],[Auto technology],[24.0],[low_normal],[POS other with interest],[365243.0],[-565.0],[125.0],[-25.0],[-17.0],[0.0],1.000,200.789,12.198,1.000,0.162,0.485,11,2.000,1,"202,500.000","202,500.000",0.485,1,0,0,Quant3,0.002,5,1,0.008,Quant3
1,100003,0,Cash loans,F,N,N,0,"270,000.000","1,293,502.500","35,698.500","1,129,500.000",Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,"-1,186.000",-291,nan,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,nan,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[1810518, 2636178, 2396755]","[Cash loans, Consumer loans, Consumer loans]","[98356.995, 64567.665, 6737.31]","[900000.0, 337500.0, 68809.5]","[1035882.0, 348637.5, 68053.5]","[nan, 0.0, 6885.0]","[900000.0, 337500.0, 68809.5]","[FRIDAY, SUNDAY, SATURDAY]","[12, 17, 15]","[Y, Y, Y]","[1, 1, 1]","[nan, 0.0, 0.10006059514256237]","[nan, nan, nan]","[nan, nan, nan]","[XNA, XAP, XAP]","[Approved, Approved, Approved]","[-746, -828, -2341]","[XNA, Cash through the bank, Cash through the bank]","[XAP, XAP, XAP]","[Unaccompanied, Family, Family]","[Repeater, Refreshed, Refreshed]","[XNA, Furniture, Consumer Electronics]","[Cash, POS, POS]","[x-sell, XNA, XNA]","[Credit and cash offices, Stone, Country-wide]","[-1, 1400, 200]","[XNA, Furniture, Consumer electronics]","[12.0, 6.0, 12.0]","[low_normal, middle, middle]","[Cash X-Sell: low, POS industry with interest, POS household with interest]","[365243.0, 365243.0, 365243.0]","[-716.0, -797.0, -2310.0]","[-386.0, -647.0, -1980.0]","[-536.0, -647.0, -1980.0]","[-527.0, -639.0, -1976.0]","[1.0, 0.0, 1.0]",3.000,479.075,13.222,1.000,0.311,0.934,0,4.800,1,"270,000.000","135,000.000",nan,0,0,0,Quant4,0.002,1,1,0.002,Quant1
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.000","135,000.000","6,750.000","135,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,"-4,260.000",-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.556,0.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,[1564014],[Consumer loans],[5357.25],[24282.0],[20106.0],[4860.0],[24282.0],[FRIDAY],[5],[Y],[1],[0.21200760306744432],[nan],[nan],[XAP],[Approved],[-815],[Cash through the bank],[XAP],[Unaccompanied],[New],[Mobile],[POS],[XNA],[Regional / Local],[30],[Connectivity],[4.0],[middle],[POS mobile without interest],[365243.0],[-784.0],[-694.0],[-724.0],[-714.0],[0.0],1.000,200.000,10.000,0.000,0.428,1.285,111,2.000,1,"67,500.000","67,500.000",nan,1,0,0,Quant1,0.000,5,5,0.009,Quant3
3,100006,0,Cash loans,F,N,Y,0,"135,000.000","312,682.500","29,686.500","297,000.000",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,"-9,833.000",-2437,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,nan,NaN,nan,"[2078043, 2827850, 2190416, 1489396, 1020698, 1243599, 2299329, 2545789, 1697039]","[Cash loans, Revolving loans, Consumer loans, Revolving loans, Cash loans, Cash loans, Consumer loans, Cash loans, Cash loans]","[24246.0, nan, 29027.52, 13500.0, 39954.51, nan, 2482.92, nan, 32696.1]","[675000.0, 0.0, 334917.0, 270000.0, 454500.0, 0.0, 26912.34, 0.0, 688500.0]","[675000.0, 0.0, 267930.0, 270000.0, 481495.5, 0.0, 24219.0, 0.0, 906615.0]","[nan, nan, 66987.0, nan, nan, nan, 2693.34, nan, nan]","[675000.0, nan, 334917.0, 270000.0, 454500.0, nan, 26912.34, nan, 688500.0]","[THURSDAY, THURSDAY, SUNDAY, THURSDAY, SATURDAY, THURSDAY, TUESDAY, THURSDAY, THURSDAY]","[15, 15, 15, 15, 12, 15, 15, 15, 15]","[Y, Y, Y, Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[nan, nan, 0.2178298883821148, nan, nan, nan, 0.10899431669973364, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[XNA, XAP, XAP, XAP, XNA, XNA, XAP, XNA, XNA]","[Approved, Canceled, Approved, Approved, Approved, Canceled, Approved, Canceled, Refused]","[-181, -181, -311, -181, -438, -181, -617, -181, -181]","[Cash through the bank, XNA, Cash through the bank, XNA, Cash through the bank, XNA, XNA, XNA, Cash through the bank]","[XAP, XAP, XAP, XAP, XAP, XAP, XAP, XAP, LIMIT]","[Unaccompanied, nan, Family, Unaccompanied, nan, nan, nan, nan, Unaccompanied]","[Repeater, Repeater, Repeater, Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, Audio/Video, XNA, XNA, XNA, Construction Materials, XNA, XNA]","[Cash, XNA, POS, Cards, Cash, XNA, POS, XNA, Cash]","[x-sell, XNA, XNA, x-sell, x-sell, XNA, XNA, XNA, x-sell]","[Credit and cash offices, Credit and cash offices, Country-wide, Credit and cash offices, Credit and cash offices, Credit and cash offices, Stone, Credit and cash offices, Credit and cash offices]","[-1, -1, 8025, -1, -1, -1, 30, -1, -1]","[XNA, XNA, Consumer electronics, XNA, XNA, XNA, Construction, XNA, XNA]","[48.0, nan, 12.0, 0.0, 18.0, nan, 12.0, nan, 48.0]","[low_normal, XNA, high, XNA, high, XNA, middle, XNA, low_normal]","[Cash X-Sell: low, Card Street, POS household with interest, Card X-Sell, Cash X-Sell: high, Cash, POS industry with interest, Cash, Cash X-Sell: low]","[365243.0, nan, 365243.0, 365243.0, nan, nan, 365243.0, nan, nan]","[-151.0, nan, -281.0, 365243.0, nan, nan, -545.0, nan, nan]","[1259.0, nan, 49.0, 365243.0, nan, nan, -215.0, nan, nan]","[-151.0, nan, 365243.0, 365243.0, nan, nan, -425.0, nan, nan]","[-143.0, nan, 365243.0, 365243.0, nan, nan, -416.0, nan, nan]","[0.0, nan, 0.0, 0.0, nan, nan, 0.0, nan, nan]",9.000,231.617,21.990,1.000,0.217,0.650,10,2.300,1,"135,000.000","67,500.000",nan,0,0,0,Quant2,0.001,5,1,0.005,Quant2
4,100007,0,Cash loans,M,N,Y,0,"121,500.000","513,000.000","21,865.500","513,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,"-4,311.000",-3458,nan,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.323,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,"-1,106.000",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[2001242, 2730157, 1692033, 2119973, 2462742, 1940724]","[Cash loans, Cash loans, Cash loans, Consumer loans, Consumer loans, Cash loans]","[16509.6, 13010.985, 16037.64, 1834.29, 3601.53, 22678.785]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[180000.0, 284400.0, 274288.5, 14616.0, 30663.0, 215865.0]","[nan, nan, nan, 3676.5, 3105.0, nan]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[SUNDAY, FRIDAY, MONDAY, SATURDAY, SUNDAY, THURSDAY]","[14, 13, 11, 13, 15, 8]","[Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1]","[nan, nan, nan, 0.21888985798948887, 0.10014295406086453, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[XNA, XNA, XNA, XAP, XAP, XNA]","[Approved, Approved, Approved, Approved, Approved, Approved]","[-865, -867, -374, -2357, -1768, -1106]","[Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, XNA]","[XAP, XAP, XAP, XAP, XAP, XAP]","[Unaccompanied, Family, nan, Family, Unaccompanied, nan]","[Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, XNA, Audio/Video, Audio/Video, XNA]","[Cash, Cash, Cash, POS, POS, Cash]","[walk-in, x-sell, x-sell, XNA, XNA, x-sell]","[Regional / Local, AP+ (Cash loan), Credit and cash offices, Country-wide, Country-wide, Country-wide]","[1200, 4, -1, 1200, 53, -1]","[Consumer electronics, XNA, XNA, Consumer electronics, Connectivity, Consumer electronics]","[18.0, 48.0, 24.0, 10.0, 12.0, 12.0]","[high, middle, middle, high, high, middle]","[Cash Street: high, Cash X-Sell: middle, Cash X-Sell: middle, POS household with interest, POS mobile with interest, Cash X-Sell: middle]","[365243.0, nan, 365243.0, 365243.0, 365243.0, 365243.0]","[-834.0, nan, -344.0, -2326.0, -1736.0, -1076.0]","[-324.0, nan, 346.0, -2056.0, -1406.0, -746.0]","[-354.0, nan, 365243.0, -2056.0, -1406.0, -746.0]","[-347.0, nan, 365243.0, -2041.0, -1397.0, -739.0]","[0.0, nan, 1.0, 1.0, 0.0, 1.0]",6.000,422.222,17.996,1.000,0.108,0.323,11,4.200,1,"121,500.000","121,500.000",nan,1,1,0,Quant2,0.001,5,1,0.004,Quant2

In [43]:
# Calculating total of each asset class
assetTot = df.groupby('assetClass')['TARGET']\
                   .agg(assetTot='count').reset_index()
# Calculating the category wise counts
assetProp = df.groupby(['assetClass', 'TARGET'])['TARGET']\
                    .agg(assetCat='count').reset_index()

In [44]:
# Merging both the data frames
assetComb = pd.merge(assetProp, assetTot, on = ['assetClass'])
assetComb['catProp'] = (assetComb.assetCat \
                        / assetComb.assetTot)*100
assetComb

  assetClass  TARGET  assetCat  assetTot  catProp
0     Quant1       0     75044     82194   91.301
1     Quant1       1      7150     82194    8.699
2     Quant2       0     66625     72763   91.564
3     Quant2       1      6138     72763    8.436
4     Quant3       0     75133     81553   92.128
5     Quant3       1      6420     81553    7.872
6     Quant4       0     65884     71001   92.793
7     Quant4       1      5117     71001    7.207

**Flag contact Info**

In [45]:
df['FLAG_CONTACT_INFO']=df['FLAG_MOBIL']+df['FLAG_EMP_PHONE']+df['FLAG_WORK_PHONE']+df['FLAG_CONT_MOBILE']+df['FLAG_PHONE']+df['FLAG_EMAIL']

In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings 
warnings.filterwarnings('ignore')
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler
from sklearn.cluster import KMeans

In [47]:
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",100)
pd.set_option("display.max_colwidth",None)
pd.options.display.float_format = '{:,.3f}'.format

In [48]:
merged_df2 = merged_df.copy()

In [49]:
merged_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,SK_ID_PREV_list,NAME_CONTRACT_TYPE_y_list,AMT_ANNUITY_y_list,AMT_APPLICATION_list,AMT_CREDIT_y_list,AMT_DOWN_PAYMENT_list,AMT_GOODS_PRICE_y_list,WEEKDAY_APPR_PROCESS_START_y_list,HOUR_APPR_PROCESS_START_y_list,FLAG_LAST_APPL_PER_CONTRACT_list,NFLAG_LAST_APPL_IN_DAY_list,RATE_DOWN_PAYMENT_list,RATE_INTEREST_PRIMARY_list,RATE_INTEREST_PRIVILEGED_list,NAME_CASH_LOAN_PURPOSE_list,NAME_CONTRACT_STATUS_list,DAYS_DECISION_list,NAME_PAYMENT_TYPE_list,CODE_REJECT_REASON_list,NAME_TYPE_SUITE_y_list,NAME_CLIENT_TYPE_list,NAME_GOODS_CATEGORY_list,NAME_PORTFOLIO_list,NAME_PRODUCT_TYPE_list,CHANNEL_TYPE_list,SELLERPLACE_AREA_list,NAME_SELLER_INDUSTRY_list,CNT_PAYMENT_list,NAME_YIELD_GROUP_list,PRODUCT_COMBINATION_list,DAYS_FIRST_DRAWING_list,DAYS_FIRST_DUE_list,DAYS_LAST_DUE_1ST_VERSION_list,DAYS_LAST_DUE_list,DAYS_TERMINATION_list,NFLAG_INSURED_ON_APPROVAL_list,Goods_to_Income
0,100002,1,Cash loans,M,N,Y,0,"202,500.000","406,597.500","24,700.500","351,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.019,-9461,-637,"-3,648.000",-2120,nan,1,1,0,1,1,0,Laborers,1.000,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083,0.263,0.139,0.025,0.037,0.972,0.619,0.014,0.000,0.069,0.083,0.125,0.037,0.020,0.019,0.000,0.000,0.025,0.038,0.972,0.634,0.014,0.000,0.069,0.083,0.125,0.038,0.022,0.020,0.000,0.000,0.025,0.037,0.972,0.624,0.014,0.000,0.069,0.083,0.125,0.037,0.021,0.019,0.000,0.000,reg oper account,block of flats,0.015,"Stone, brick",No,2.000,2.000,2.000,2.000,"-1,134.000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000,[1038818],[Consumer loans],[9251.775],[179055.0],[179055.0],[0.0],[179055.0],[SATURDAY],[9],[Y],[1],[0.0],[nan],[nan],[XAP],[Approved],[-606],[XNA],[XAP],[nan],[New],[Vehicles],[POS],[XNA],[Stone],[500],[Auto technology],[24.0],[low_normal],[POS other with interest],[365243.0],[-565.0],[125.0],[-25.0],[-17.0],[0.0],173.333
1,100003,0,Cash loans,F,N,N,0,"270,000.000","1,293,502.500","35,698.500","1,129,500.000",Family,State servant,Higher education,Married,House / apartment,0.004,-16765,-1188,"-1,186.000",-291,nan,1,1,0,1,1,0,Core staff,2.000,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311,0.622,nan,0.096,0.053,0.985,0.796,0.060,0.080,0.035,0.292,0.333,0.013,0.077,0.055,0.004,0.010,0.092,0.054,0.985,0.804,0.050,0.081,0.035,0.292,0.333,0.013,0.079,0.055,0.000,0.000,0.097,0.053,0.985,0.799,0.061,0.080,0.035,0.292,0.333,0.013,0.079,0.056,0.004,0.010,reg oper account,block of flats,0.071,Block,No,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[1810518, 2636178, 2396755]","[Cash loans, Consumer loans, Consumer loans]","[98356.995, 64567.665, 6737.31]","[900000.0, 337500.0, 68809.5]","[1035882.0, 348637.5, 68053.5]","[nan, 0.0, 6885.0]","[900000.0, 337500.0, 68809.5]","[FRIDAY, SUNDAY, SATURDAY]","[12, 17, 15]","[Y, Y, Y]","[1, 1, 1]","[nan, 0.0, 0.10006059514256237]","[nan, nan, nan]","[nan, nan, nan]","[XNA, XAP, XAP]","[Approved, Approved, Approved]","[-746, -828, -2341]","[XNA, Cash through the bank, Cash through the bank]","[XAP, XAP, XAP]","[Unaccompanied, Family, Family]","[Repeater, Refreshed, Refreshed]","[XNA, Furniture, Consumer Electronics]","[Cash, POS, POS]","[x-sell, XNA, XNA]","[Credit and cash offices, Stone, Country-wide]","[-1, 1400, 200]","[XNA, Furniture, Consumer electronics]","[12.0, 6.0, 12.0]","[low_normal, middle, middle]","[Cash X-Sell: low, POS industry with interest, POS household with interest]","[365243.0, 365243.0, 365243.0]","[-716.0, -797.0, -2310.0]","[-386.0, -647.0, -1980.0]","[-536.0, -647.0, -1980.0]","[-527.0, -639.0, -1976.0]","[1.0, 0.0, 1.0]",418.333
2,100004,0,Revolving loans,M,Y,Y,0,"67,500.000","135,000.000","6,750.000","135,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010,-19046,-225,"-4,260.000",-2531,26.000,1,1,1,1,1,0,Laborers,1.000,2,2,MONDAY,9,0,0,0,0,0,0,Government,nan,0.556,0.730,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,[1564014],[Consumer loans],[5357.25],[24282.0],[20106.0],[4860.0],[24282.0],[FRIDAY],[5],[Y],[1],[0.21200760306744432],[nan],[nan],[XAP],[Approved],[-815],[Cash through the bank],[XAP],[Unaccompanied],[New],[Mobile],[POS],[XNA],[Regional / Local],[30],[Connectivity],[4.0],[middle],[POS mobile without interest],[365243.0],[-784.0],[-694.0],[-724.0],[-714.0],[0.0],200.000
3,100006,0,Cash loans,F,N,Y,0,"135,000.000","312,682.500","29,686.500","297,000.000",Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008,-19005,-3039,"-9,833.000",-2437,nan,1,1,0,1,0,0,Laborers,2.000,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,nan,0.650,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,nan,NaN,nan,"[2078043, 2827850, 2190416, 1489396, 1020698, 1243599, 2299329, 2545789, 1697039]","[Cash loans, Revolving loans, Consumer loans, Revolving loans, Cash loans, Cash loans, Consumer loans, Cash loans, Cash loans]","[24246.0, nan, 29027.52, 13500.0, 39954.51, nan, 2482.92, nan, 32696.1]","[675000.0, 0.0, 334917.0, 270000.0, 454500.0, 0.0, 26912.34, 0.0, 688500.0]","[675000.0, 0.0, 267930.0, 270000.0, 481495.5, 0.0, 24219.0, 0.0, 906615.0]","[nan, nan, 66987.0, nan, nan, nan, 2693.34, nan, nan]","[675000.0, nan, 334917.0, 270000.0, 454500.0, nan, 26912.34, nan, 688500.0]","[THURSDAY, THURSDAY, SUNDAY, THURSDAY, SATURDAY, THURSDAY, TUESDAY, THURSDAY, THURSDAY]","[15, 15, 15, 15, 12, 15, 15, 15, 15]","[Y, Y, Y, Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[nan, nan, 0.2178298883821148, nan, nan, nan, 0.10899431669973364, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan, nan, nan, nan]","[XNA, XAP, XAP, XAP, XNA, XNA, XAP, XNA, XNA]","[Approved, Canceled, Approved, Approved, Approved, Canceled, Approved, Canceled, Refused]","[-181, -181, -311, -181, -438, -181, -617, -181, -181]","[Cash through the bank, XNA, Cash through the bank, XNA, Cash through the bank, XNA, XNA, XNA, Cash through the bank]","[XAP, XAP, XAP, XAP, XAP, XAP, XAP, XAP, LIMIT]","[Unaccompanied, nan, Family, Unaccompanied, nan, nan, nan, nan, Unaccompanied]","[Repeater, Repeater, Repeater, Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, Audio/Video, XNA, XNA, XNA, Construction Materials, XNA, XNA]","[Cash, XNA, POS, Cards, Cash, XNA, POS, XNA, Cash]","[x-sell, XNA, XNA, x-sell, x-sell, XNA, XNA, XNA, x-sell]","[Credit and cash offices, Credit and cash offices, Country-wide, Credit and cash offices, Credit and cash offices, Credit and cash offices, Stone, Credit and cash offices, Credit and cash offices]","[-1, -1, 8025, -1, -1, -1, 30, -1, -1]","[XNA, XNA, Consumer electronics, XNA, XNA, XNA, Construction, XNA, XNA]","[48.0, nan, 12.0, 0.0, 18.0, nan, 12.0, nan, 48.0]","[low_normal, XNA, high, XNA, high, XNA, middle, XNA, low_normal]","[Cash X-Sell: low, Card Street, POS household with interest, Card X-Sell, Cash X-Sell: high, Cash, POS industry with interest, Cash, Cash X-Sell: low]","[365243.0, nan, 365243.0, 365243.0, nan, nan, 365243.0, nan, nan]","[-151.0, nan, -281.0, 365243.0, nan, nan, -545.0, nan, nan]","[1259.0, nan, 49.0, 365243.0, nan, nan, -215.0, nan, nan]","[-151.0, nan, 365243.0, 365243.0, nan, nan, -425.0, nan, nan]","[-143.0, nan, 365243.0, 365243.0, nan, nan, -416.0, nan, nan]","[0.0, nan, 0.0, 0.0, nan, nan, 0.0, nan, nan]",220.000
4,100007,0,Cash loans,M,N,Y,0,"121,500.000","513,000.000","21,865.500","513,000.000",Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.029,-19932,-3038,"-4,311.000",-3458,nan,1,1,0,1,0,0,Core staff,1.000,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,nan,0.323,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,nan,NaN,NaN,0.000,0.000,0.000,0.000,"-1,106.000",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,"[2001242, 2730157, 1692033, 2119973, 2462742, 1940724]","[Cash loans, Cash loans, Cash loans, Consumer loans, Consumer loans, Cash loans]","[16509.6, 13010.985, 16037.64, 1834.29, 3601.53, 22678.785]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[180000.0, 284400.0, 274288.5, 14616.0, 30663.0, 215865.0]","[nan, nan, nan, 3676.5, 3105.0, nan]","[180000.0, 225000.0, 247500.0, 17176.5, 31005.0, 202500.0]","[SUNDAY, FRIDAY, MONDAY, SATURDAY, SUNDAY, THURSDAY]","[14, 13, 11, 13, 15, 8]","[Y, Y, Y, Y, Y, Y]","[1, 1, 1, 1, 1, 1]","[nan, nan, nan, 0.21888985798948887, 0.10014295406086453, nan]","[nan, nan, nan, nan, nan, nan]","[nan, nan, nan, nan, nan, nan]","[XNA, XNA, XNA, XAP, XAP, XNA]","[Approved, Approved, Approved, Approved, Approved, Approved]","[-865, -867, -374, -2357, -1768, -1106]","[Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, Cash through the bank, XNA]","[XAP, XAP, XAP, XAP, XAP, XAP]","[Unaccompanied, Family, nan, Family, Unaccompanied, nan]","[Repeater, Repeater, Repeater, New, Repeater, Repeater]","[XNA, XNA, XNA, Audio/Video, Audio/Video, XNA]","[Cash, Cash, Cash, POS, POS, Cash]","[walk-in, x-sell, x-sell, XNA, XNA, x-sell]","[Regional / Local, AP+ (Cash loan), Credit and cash offices, Country-wide, Country-wide, Country-wide]","[1200, 4, -1, 1200, 53, -1]","[Consumer electronics, XNA, XNA, Consumer electronics, Connectivity, Consumer electronics]","[18.0, 48.0, 24.0, 10.0, 12.0, 12.0]","[high, middle, middle, high, high, middle]","[Cash Street: high, Cash X-Sell: middle, Cash X-Sell: middle, POS household with interest, POS mobile with interest, Cash X-Sell: middle]","[365243.0, nan, 365243.0, 365243.0, 365243.0, 365243.0]","[-834.0, nan, -344.0, -2326.0, -1736.0, -1076.0]","[-324.0, nan, 346.0, -2056.0, -1406.0, -746.0]","[-354.0, nan, 365243.0, -2056.0, -1406.0, -746.0]","[-347.0, nan, 365243.0, -2041.0, -1397.0, -739.0]","[0.0, nan, 1.0, 1.0, 0.0, 1.0]",422.222

In [50]:
num = merged_df.select_dtypes(exclude='object').columns
cat = merged_df.select_dtypes(include='object').columns
print(num,"\n",cat)

Index(['SK_ID_CURR', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE',
       'HOUR_APPR_PROCESS_START', 'EXT_SOURCE_1', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG',
       'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG',
       'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG',
       'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE',
       'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
       'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE',
       'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE',
       'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
       'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI',
       'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
       'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_YEAR',
       'Goods_to_Income'],
      dtype='object')
 Index(['TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'SK_ID_PREV_list', 'NAME_CONTRACT_TYPE_y_list', 'AMT_ANNUITY_y_list',
       'AMT_APPLICATION_list', 'AMT_CREDIT_y_list', 'AMT_DOWN_PAYMENT_list',
       'AMT_GOODS_PRICE_y_list', 'WEEKDAY_APPR_PROCESS_START_y_list',
       'HOUR_APPR_PROCESS_START_y_list', 'FLAG_LAST_APPL_PER_CONTRACT_list',
       'NFLAG_LAST_APPL_IN_DAY_list', 'RATE_DOWN_PAYMENT_list',
       'RATE_INTEREST_PRIMARY_list', 'RATE_INTEREST_PRIVILEGED_list',
       'NAME_CASH_LOAN_PURPOSE_list', 'NAME_CONTRACT_STATUS_list',
       'DAYS_DECISION_list', 'NAME_PAYMENT_TYPE_list',
       'CODE_REJECT_REASON_list', 'NAME_TYPE_SUITE_y_list',
       'NAME_CLIENT_TYPE_list', 'NAME_GOODS_CATEGORY_list',
       'NAME_PORTFOLIO_list', 'NAME_PRODUCT_TYPE_list', 'CHANNEL_TYPE_list',
       'SELLERPLACE_AREA_list', 'NAME_SELLER_INDUSTRY_list',
       'CNT_PAYMENT_list', 'NAME_YIELD_GROUP_list', 'PRODUCT_COMBINATION_list',
       'DAYS_FIRST_DRAWING_list', 'DAYS_FIRST_DUE_list',
       'DAYS_LAST_DUE_1ST_VERSION_list', 'DAYS_LAST_DUE_list',
       'DAYS_TERMINATION_list', 'NFLAG_INSURED_ON_APPROVAL_list'],
      dtype='object')

**We have consider to drop the columns with more than 47% of nan data.**

In [51]:
df_copy = merged_df2.copy()
for columns in df_copy.columns:
  if (df_copy[columns].isna().sum()/len(df_copy["SK_ID_CURR"])*100)>47:
    df_copy.drop(columns,axis=1,inplace=True)

In [52]:
round(df_copy.isna().sum().sort_values(ascending=True)/len(df_copy["SK_ID_CURR"])*100,2)

SK_ID_CURR                     0.000
HOUR_APPR_PROCESS_START        0.000
REG_REGION_NOT_LIVE_REGION     0.000
REG_REGION_NOT_WORK_REGION     0.000
LIVE_REGION_NOT_WORK_REGION    0.000
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     13.500
AMT_REQ_CREDIT_BUREAU_HOUR    13.500
AMT_REQ_CREDIT_BUREAU_MON     13.500
EXT_SOURCE_3                  19.830
OCCUPATION_TYPE               31.350
Length: 110, dtype: float64

**EXT_SOURCE_1 variable was added as it is used in feature engineering.**

In [53]:
df_copy["EXT_SOURCE_1"]=merged_df2["EXT_SOURCE_1"]
print("Number of columns left after dropping columns:",len(df_copy.columns))

Number of columns left after dropping columns: 111

**The columns having nan values between 5.83% and 47%.**

**would be replaced by mean for continuous column**

**for categorical column we would use mode.**

In [54]:
categorical_list=[]
continuous_list=[]
for column in df_copy.columns:
  if 5.36<(df_copy[column].isna().sum()/len(df_copy["SK_ID_CURR"])*100):
    if ~column.endswith("list"):
        if len(df_copy[column].unique())<20:
            categorical_list.append(column)
        else:
            continuous_list.append(column)
    

print("Categorical columns with more than 5.35% nan values",categorical_list)
print("Continuous columns with more than 5.35% nan values",continuous_list)

Categorical columns with more than 5.35% nan values ['OCCUPATION_TYPE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_QRT']
Continuous columns with more than 5.35% nan values ['EXT_SOURCE_3', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'EXT_SOURCE_1']

**AMT_REQ_CREDIT_BUREAU variables are consider continuous variable.**

In [55]:
continuous_list.extend(categorical_list[1:])
print(continuous_list)
print()
categorical_list=categorical_list[:1]
print(categorical_list)

['EXT_SOURCE_3', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'EXT_SOURCE_1', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_QRT']

['OCCUPATION_TYPE']

In [56]:
from sklearn.impute import SimpleImputer
import numpy as np
from numpy import isnan
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
value=df_copy[continuous_list].values
transformed_values=imp.fit_transform(value)
print('Missing: %d' % isnan(transformed_values).sum())

Missing: 0

In [57]:
df_copy[continuous_list]=transformed_values

In [58]:
merged_df[categorical_list].isna().sum()

OCCUPATION_TYPE    96391
dtype: int64

In [59]:
from sklearn.impute import SimpleImputer
import numpy as np
from numpy import isnan
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
value=df_copy[categorical_list].values
transformed_values=imp.fit_transform(value)

In [60]:
df_copy[categorical_list]=transformed_values

In [61]:
(df_copy.isna().sum()/len(df_copy)*100).sort_values(ascending=False).head(100)

HOUR_APPR_PROCESS_START_y_list      5.351
CODE_REJECT_REASON_list             5.351
DAYS_DECISION_list                  5.351
NAME_CONTRACT_STATUS_list           5.351
NAME_CASH_LOAN_PURPOSE_list         5.351
RATE_INTEREST_PRIVILEGED_list       5.351
RATE_DOWN_PAYMENT_list              5.351
NFLAG_LAST_APPL_IN_DAY_list         5.351
FLAG_LAST_APPL_PER_CONTRACT_list    5.351
WEEKDAY_APPR_PROCESS_START_y_list   5.351
AMT_GOODS_PRICE_y_list              5.351
AMT_DOWN_PAYMENT_list               5.351
AMT_CREDIT_y_list                   5.351
AMT_APPLICATION_list                5.351
AMT_ANNUITY_y_list                  5.351
NAME_CONTRACT_TYPE_y_list           5.351
SK_ID_PREV_list                     5.351
NAME_PAYMENT_TYPE_list              5.351
RATE_INTEREST_PRIMARY_list          5.351
NAME_TYPE_SUITE_y_list              5.351
NAME_YIELD_GROUP_list               5.351
NFLAG_INSURED_ON_APPROVAL_list      5.351
DAYS_TERMINATION_list               5.351
DAYS_LAST_DUE_list                  5.351
NAME_CLIENT_TYPE_list               5.351
DAYS_FIRST_DUE_list                 5.351
DAYS_FIRST_DRAWING_list             5.351
PRODUCT_COMBINATION_list            5.351
DAYS_LAST_DUE_1ST_VERSION_list      5.351
NAME_SELLER_INDUSTRY_list           5.351
SELLERPLACE_AREA_list               5.351
CHANNEL_TYPE_list                   5.351
NAME_PRODUCT_TYPE_list              5.351
NAME_PORTFOLIO_list                 5.351
NAME_GOODS_CATEGORY_list            5.351
CNT_PAYMENT_list                    5.351
NAME_TYPE_SUITE                     0.420
DEF_30_CNT_SOCIAL_CIRCLE            0.332
OBS_60_CNT_SOCIAL_CIRCLE            0.332
OBS_30_CNT_SOCIAL_CIRCLE            0.332
DEF_60_CNT_SOCIAL_CIRCLE            0.332
EXT_SOURCE_2                        0.215
Goods_to_Income                     0.090
AMT_GOODS_PRICE                     0.090
AMT_ANNUITY                         0.004
CNT_FAM_MEMBERS                     0.001
DAYS_LAST_PHONE_CHANGE              0.000
FLAG_WORK_PHONE                     0.000
FLAG_PHONE                          0.000
FLAG_CONT_MOBILE                    0.000
EXT_SOURCE_1                        0.000
FLAG_EMAIL                          0.000
OCCUPATION_TYPE                     0.000
REGION_RATING_CLIENT                0.000
REGION_RATING_CLIENT_W_CITY         0.000
WEEKDAY_APPR_PROCESS_START          0.000
FLAG_MOBIL                          0.000
FLAG_EMP_PHONE                      0.000
TARGET                              0.000
DAYS_ID_PUBLISH                     0.000
DAYS_REGISTRATION                   0.000
REG_REGION_NOT_LIVE_REGION          0.000
NAME_CONTRACT_TYPE                  0.000
CODE_GENDER                         0.000
FLAG_OWN_CAR                        0.000
FLAG_OWN_REALTY                     0.000
CNT_CHILDREN                        0.000
AMT_INCOME_TOTAL                    0.000
AMT_CREDIT                          0.000
NAME_INCOME_TYPE                    0.000
NAME_EDUCATION_TYPE                 0.000
NAME_FAMILY_STATUS                  0.000
NAME_HOUSING_TYPE                   0.000
REGION_POPULATION_RELATIVE          0.000
DAYS_BIRTH                          0.000
DAYS_EMPLOYED                       0.000
HOUR_APPR_PROCESS_START             0.000
FLAG_DOCUMENT_10                    0.000
REG_REGION_NOT_WORK_REGION          0.000
FLAG_DOCUMENT_13                    0.000
AMT_REQ_CREDIT_BUREAU_YEAR          0.000
AMT_REQ_CREDIT_BUREAU_QRT           0.000
AMT_REQ_CREDIT_BUREAU_MON           0.000
AMT_REQ_CREDIT_BUREAU_WEEK          0.000
AMT_REQ_CREDIT_BUREAU_DAY           0.000
AMT_REQ_CREDIT_BUREAU_HOUR          0.000
FLAG_DOCUMENT_21                    0.000
FLAG_DOCUMENT_20                    0.000
FLAG_DOCUMENT_19                    0.000
FLAG_DOCUMENT_18                    0.000
FLAG_DOCUMENT_17                    0.000
FLAG_DOCUMENT_16                    0.000
FLAG_DOCUMENT_15                    0.000
FLAG_DOCUMENT_14                    0.000
FLAG_DOCUMENT_12                    0.000
LIVE_REGION_NOT_WORK_REGION         0.000
FLAG_DOCUMENT_11                    0.000
FLAG_DOCUMENT_9                     0.000
FLAG_DOCUMENT_8                     0.000
FLAG_DOCUMENT_7                     0.000
dtype: float64

### columns having 5.35% missing values

In [62]:
col = ['AMT_ANNUITY_y_list','CNT_PAYMENT_list','NAME_PORTFOLIO_list','NAME_PRODUCT_TYPE_list','CHANNEL_TYPE_list','SELLERPLACE_AREA_list',
'NAME_SELLER_INDUSTRY_list','PRODUCT_COMBINATION_list','NAME_YIELD_GROUP_list','AMT_APPLICATION_list','DAYS_FIRST_DRAWING_list',
'DAYS_FIRST_DUE_list','DAYS_TERMINATION_list','NAME_GOODS_CATEGORY_list','NAME_CLIENT_TYPE_list','NAME_TYPE_SUITE_y_list',
'CODE_REJECT_REASON_list','AMT_CREDIT_y_list','AMT_DOWN_PAYMENT_list','AMT_GOODS_PRICE_y_list','NFLAG_LAST_APPL_IN_DAY_list'
,'RATE_DOWN_PAYMENT_list','RATE_INTEREST_PRIMARY_list','RATE_INTEREST_PRIVILEGED_list','NAME_CASH_LOAN_PURPOSE_list','NAME_CONTRACT_STATUS_list'
,'SK_ID_PREV_list','NAME_PAYMENT_TYPE_list','DAYS_DECISION_list','NFLAG_INSURED_ON_APPROVAL_list']

In [63]:
# dropped those rows
df_copy.dropna(inplace=True)

In [64]:
merged_df = df_copy.copy()

## Seperated list data for now

In [65]:
list_columns = ['SK_ID_PREV_list',
       'NAME_CONTRACT_TYPE_y_list', 'AMT_ANNUITY_y_list',
       'AMT_APPLICATION_list', 'AMT_CREDIT_y_list', 'AMT_DOWN_PAYMENT_list',
       'AMT_GOODS_PRICE_y_list', 'WEEKDAY_APPR_PROCESS_START_y_list',
       'HOUR_APPR_PROCESS_START_y_list', 'FLAG_LAST_APPL_PER_CONTRACT_list',
       'NFLAG_LAST_APPL_IN_DAY_list', 'RATE_DOWN_PAYMENT_list',
       'RATE_INTEREST_PRIMARY_list', 'RATE_INTEREST_PRIVILEGED_list',
       'NAME_CASH_LOAN_PURPOSE_list', 'NAME_CONTRACT_STATUS_list',
       'DAYS_DECISION_list', 'NAME_PAYMENT_TYPE_list',
       'CODE_REJECT_REASON_list', 'NAME_TYPE_SUITE_y_list',
       'NAME_CLIENT_TYPE_list', 'NAME_GOODS_CATEGORY_list',
       'NAME_PORTFOLIO_list', 'NAME_PRODUCT_TYPE_list', 'CHANNEL_TYPE_list',
       'SELLERPLACE_AREA_list', 'NAME_SELLER_INDUSTRY_list',
       'CNT_PAYMENT_list', 'NAME_YIELD_GROUP_list', 'PRODUCT_COMBINATION_list',
       'DAYS_FIRST_DRAWING_list', 'DAYS_FIRST_DUE_list',
       'DAYS_LAST_DUE_1ST_VERSION_list', 'DAYS_LAST_DUE_list',
       'DAYS_TERMINATION_list', 'NFLAG_INSURED_ON_APPROVAL_list']
list_data = merged_df[list_columns]
merged_df.drop(list_columns,axis=1,inplace=True)

### Function to reduce categorical classes

In [66]:
def reduce_classes(columns_list):
    for col in columns_list:
        other_classes = list(merged_df[col].value_counts()[10:].index)
        merged_df[col] = merged_df[col].replace(other_classes,'Other')

reduce_classes(['OCCUPATION_TYPE','ORGANIZATION_TYPE'])

## Encoding

In [67]:
nominal = ['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
          'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE','NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
           'NAME_HOUSING_TYPE','OCCUPATION_TYPE','WEEKDAY_APPR_PROCESS_START','ORGANIZATION_TYPE']

ordinal = ['CNT_CHILDREN','CNT_FAM_MEMBERS','DEF_30_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE']

In [22]:
# for col in ordinal:
#     encoder = LabelEncoder()
#     merged_df[col] = encoder.fit_transform(merged_df[col])

In [68]:
encoded_df = pd.get_dummies(merged_df[nominal])
merged_df.drop(nominal,axis=1,inplace=True)
merged_df = merged_df.merge(encoded_df,left_index=True,right_index=True)

In [23]:
#encoded_df = merged_df.copy()

In [69]:
merged_df.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,Goods_to_Income,EXT_SOURCE_1,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,CODE_GENDER_M,CODE_GENDER_XNA,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Children,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Maternity leave,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Unemployed,NAME_INCOME_TYPE_Working,NAME_EDUCATION_TYPE_Academic degree,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_FAMILY_STATUS_Civil marriage,NAME_FAMILY_STATUS_Married,NAME_FAMILY_STATUS_Separated,NAME_FAMILY_STATUS_Single / not married,NAME_FAMILY_STATUS_Widow,NAME_HOUSING_TYPE_Co-op apartment,NAME_HOUSING_TYPE_House / apartment,NAME_HOUSING_TYPE_Municipal apartment,NAME_HOUSING_TYPE_Office apartment,NAME_HOUSING_TYPE_Rented apartment,NAME_HOUSING_TYPE_With parents,OCCUPATION_TYPE_Accountants,OCCUPATION_TYPE_Cooking staff,OCCUPATION_TYPE_Core staff,OCCUPATION_TYPE_Drivers,OCCUPATION_TYPE_High skill tech staff,OCCUPATION_TYPE_Laborers,OCCUPATION_TYPE_Managers,OCCUPATION_TYPE_Medicine staff,OCCUPATION_TYPE_Other,OCCUPATION_TYPE_Sales staff,OCCUPATION_TYPE_Security staff,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,ORGANIZATION_TYPE_Business Entity Type 2,ORGANIZATION_TYPE_Business Entity Type 3,ORGANIZATION_TYPE_Government,ORGANIZATION_TYPE_Kindergarten,ORGANIZATION_TYPE_Medicine,ORGANIZATION_TYPE_Other,ORGANIZATION_TYPE_School,ORGANIZATION_TYPE_Self-employed,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_XNA
0,100002,1,0,"202,500.000","406,597.500","24,700.500","351,000.000",0.019,-9461,-637,"-3,648.000",-2120,1,1,0,1,1,0,1.000,2,2,10,0,0,0,0,0,0,0.263,0.139,2.000,2.000,2.000,2.000,"-1,134.000",0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,1.000,173.333,0.083,1,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
1,100003,0,0,"270,000.000","1,293,502.500","35,698.500","1,129,500.000",0.004,-16765,-1188,"-1,186.000",-291,1,1,0,1,1,0,2.000,1,1,11,0,0,0,0,0,0,0.622,0.511,1.000,0.000,1.000,0.000,-828.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,418.333,0.311,1,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,100004,0,0,"67,500.000","135,000.000","6,750.000","135,000.000",0.010,-19046,-225,"-4,260.000",-2531,1,1,1,1,1,0,1.000,2,2,9,0,0,0,0,0,0,0.556,0.730,0.000,0.000,0.000,0.000,-815.000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,200.000,0.502,0,1,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,100006,0,0,"135,000.000","312,682.500","29,686.500","297,000.000",0.008,-19005,-3039,"-9,833.000",-2437,1,1,0,1,0,0,2.000,2,2,17,0,0,0,0,0,0,0.650,0.511,2.000,0.000,2.000,0.000,-617.000,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.006,0.007,0.034,0.267,0.265,1.900,220.000,0.502,1,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
4,100007,0,0,"121,500.000","513,000.000","21,865.500","513,000.000",0.029,-19932,-3038,"-4,311.000",-3458,1,1,0,1,0,0,1.000,2,2,11,0,0,0,0,1,1,0.323,0.511,0.000,0.000,0.000,0.000,"-1,106.000",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,422.222,0.502,1,0,0,1,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0

## Days Conversion

In [70]:
days_columns = ['DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH']
merged_df[days_columns] = np.abs(merged_df[days_columns])

## Scaling

In [71]:
num = df_copy.select_dtypes(exclude='object').columns

In [72]:
scaler = StandardScaler()
merged_df[num.drop('SK_ID_CURR')] = scaler.fit_transform(merged_df[num.drop('SK_ID_CURR')])

In [73]:
df.merge(list_data,right_on=True,left_on=True)

KeyError: True

In [23]:
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler
from sklearn.cluster import KMeans

# Kmeans Clustering

In [24]:
df.set_index('SK_ID_CURR',inplace=True)

In [25]:
dist = []
 
for i in range(1,10):
    km = KMeans(n_clusters=i,init='k-means++',max_iter=300,n_init=10,random_state=0)
    km.fit(df)
    dist.append(km.inertia_)

ValueError: could not convert string to float: 'Cash loans'

In [ ]:
plt.figure(figsize=(8,5))
plt.plot(range(1,10),dist)
plt.show()

In [9]:
km = KMeans(n_clusters=6,init='k-means++',max_iter=300,n_init=10,random_state=0)

NameError: name 'KMeans' is not defined

In [ ]:
km.fit(df.drop('TARGET',axis=1))

In [ ]:
df["clusters"] = km.fit_predict(df.drop('TARGET',axis=1))

In [ ]:
centers = km.cluster_centers_

In [ ]:
len(km.cluster_centers_)

In [ ]:
len(km.labels_)

In [ ]:
 plt.scatter(centers[:, 0], centers[:, 1], c='black', s=200, alpha=0.5)

In [ ]:
df.head()