In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)
df=pd.read_csv("application_data.csv")

In [ ]:
#knowing the data
print("top 5 rows of data:\n\n",df.head(5))

In [ ]:
print("Getting information about column\n\n", df.dtypes)

In [ ]:
print("Getting name of all columns: \n\n",df.columns)

Getting name of all columns:

 Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [ ]:
#Dividing the columns into continuous and discreate column
cont_col=[]
dis_col=[]
for column in df.columns:
  if len(df[column].unique())>30:
    cont_col.append(column)
  else:
    dis_col.append(column)

#removing the target variable from dis_col
dis_col.remove("TARGET")

In [ ]:
print(len(cont_col),len(dis_col))

In [ ]:
df.describe().transpose()

In [ ]:
#checking for nan values
df.isna().sum()

In [ ]:
df_p=pd.read_csv("previous_application.csv")
df_p.head(5)

In [ ]:
print("Getting information about column\n\n", df_p.dtypes)

In [ ]:
print("Getting name of all columns: \n\n",df_p.columns)

Getting name of all columns:

 Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')

In [ ]:
df_p.describe()

,SK_ID_PREV,SK_ID_CURR,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,DAYS_DECISION,SELLERPLACE_AREA,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
count,4.399620e+05,439962.000000,342882.000000,4.399620e+05,4.399620e+05,2.071110e+05,3.396700e+05,439962.000000,439962.000000,207111.000000,1577.000000,1577.000000,439962.000000,4.399620e+05,342882.000000,264452.000000,264452.000000,264452.000000,264452.000000,264452.000000,264452.000000
mean,1.921383e+06,278467.960344,15820.700429,1.734530e+05,1.939402e+05,6.700734e+03,2.246999e+05,12.487842,0.996357,0.079668,0.189076,0.779091,-885.217351,3.303805e+02,15.926803,342604.608591,13679.015243,33176.813611,76268.214402,81669.062102,0.330400
std,5.333252e+05,102787.861666,14710.363919,2.900198e+05,3.158712e+05,2.057192e+04,3.121779e+05,3.332720,0.060251,0.107629,0.085755,0.097850,780.580889,1.057200e+04,14.422921,88201.280964,72105.255458,106037.199307,149427.829698,153094.534099,0.470358
min,1.000001e+06,100001.000000,0.000000,0.000000e+00,0.000000e+00,-9.000000e-01,0.000000e+00,0.000000,0.000000,-0.000014,0.059121,0.373150,-2922.000000,-1.000000e+00,0.000000,-2920.000000,-2892.000000,-2801.000000,-2889.000000,-2847.000000,0.000000
25%,1.458894e+06,189462.000000,6272.336250,1.932300e+04,2.442262e+04,0.000000e+00,5.014406e+04,10.000000,1.000000,0.000000,0.160716,0.715645,-1310.000000,-1.000000e+00,6.000000,365243.000000,-1634.000000,-1250.000000,-1322.000000,-1277.000000,0.000000
50%,1.921652e+06,278791.000000,11221.762500,7.082550e+04,8.001000e+04,1.665000e+03,1.102208e+05,12.000000,1.000000,0.052185,0.189136,0.835095,-586.000000,4.000000e+00,12.000000,365243.000000,-833.000000,-365.000000,-539.000000,-501.000000,0.000000
75%,2.383161e+06,367712.750000,20363.220000,1.800000e+05,2.109015e+05,7.726500e+03,2.295000e+05,15.000000,1.000000,0.108909,0.193330,0.852537,-282.000000,8.900000e+01,24.000000,365243.000000,-411.000000,122.000000,-75.000000,-45.000000,1.000000
max,2.845382e+06,456255.000000,417927.645000,4.237875e+06,4.104351e+06,2.118938e+06,4.237875e+06,23.000000,1.000000,0.989740,1.000000,1.000000,-2.000000,4.000000e+06,84.000000,365243.000000,365243.000000,365243.000000,365243.000000,365243.000000,1.000000

In [ ]:
df_p.isna().sum()

SK_ID_PREV                          0
SK_ID_CURR                          0
NAME_CONTRACT_TYPE                  0
AMT_ANNUITY                     97080
AMT_APPLICATION                     0
AMT_CREDIT                          0
AMT_DOWN_PAYMENT               232851
AMT_GOODS_PRICE                100292
WEEKDAY_APPR_PROCESS_START          0
HOUR_APPR_PROCESS_START             0
FLAG_LAST_APPL_PER_CONTRACT         0
NFLAG_LAST_APPL_IN_DAY              0
RATE_DOWN_PAYMENT              232851
RATE_INTEREST_PRIMARY          438385
RATE_INTEREST_PRIVILEGED       438385
NAME_CASH_LOAN_PURPOSE              0
NAME_CONTRACT_STATUS                0
DAYS_DECISION                       0
NAME_PAYMENT_TYPE                   0
CODE_REJECT_REASON                  0
NAME_TYPE_SUITE                215980
NAME_CLIENT_TYPE                    0
NAME_GOODS_CATEGORY                 0
NAME_PORTFOLIO                      0
NAME_PRODUCT_TYPE                   0
CHANNEL_TYPE                        0
SELLERPLACE_AREA                    0
NAME_SELLER_INDUSTRY                0
CNT_PAYMENT                     97080
NAME_YIELD_GROUP                    1
PRODUCT_COMBINATION                85
DAYS_FIRST_DRAWING             175510
DAYS_FIRST_DUE                 175510
DAYS_LAST_DUE_1ST_VERSION      175510
DAYS_LAST_DUE                  175510
DAYS_TERMINATION               175510
NFLAG_INSURED_ON_APPROVAL      175510
dtype: int64